/**
* 아래는 로고 관련 코드
*/

/*메인 화면 로고의 크기와 패딩을 설정함*/
.logo1 {
  padding: 10px 10px;
  width: 250px;
  height: min-content;
}

/*나머지 화면 로고의 크기와 패딩을 설정함*/
.logo2 {
  padding: 10px 10px;
  width: 150px;
  height: min-content;
}

/*로고를 가운데정렬해줌*/
.logo_container {
  display: flex;
  justify-content: center;
}

.logo_container a {
  display: flex;
  justify-content: center;
}

/**
* 아래는 내비게이션 바 관련 코드
*/

/*내비게이션 바 전체 영역*/
.nav_bar {
  width: 100%;
  display: flex;
  background-color: #00462a;
  position: relative;
}

/*왼쪽의 버튼 2개가 있는 영역*/
.nav_bar_left {
  display: flex;
  justify-content: left;
  list-style: none;
  padding-left: 20px;
  margin-right: 30px;
}

/*왼쪽, 오른쪽 버튼들 각각의 서식*/
.nav_bar_right li {
  padding: 0px 10px;
  color: black;
  font-weight: 1000;
  text-decoration-line: none;
}

.nav_bar_left li a,
.nav_bar_right li a {
  padding: 0px 10px;
  color: white;
  font-weight: 800;
  text-decoration-line: none;
}

/*오른쪽의 버튼 3개가 있는 영역*/
.nav_bar_right {
  display: flex;
  justify-content: right;
  list-style: none;
  margin-left: auto;
  padding-right: 20px;
}

/*네비바 드롭다운 관련 코드*/

/*드롭다운 콘텐츠 div*/
.nav_bar_dropdown {
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: #e4f0eb;
  padding: 20px;
  z-index: 1;
  display:none;
  position:absolute;
  top:55px;
  width:1310px;
}

.dropdown_location1 {
  margin-bottom: 5px;
  padding-left:15px;
  padding-right:15px;
  list-style: none;
  text-decoration:none;
}

.dropdown_bytype1 {
  margin-bottom: 5px;
  padding-left:15px;
  padding-right:15px;
  list-style: none;
  text-decoration:none;
}

.nav_bar_dropdown a {
  color: black;
  text-decoration:none;
}

.nav_bar_dropdown a:hover {
  text-decoration: underline;
}

.dropdownLabel {
  text-align: center;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
}

/*위치별*/
.dropdown_location {
  display: flex;
  justify-content: center;
  padding:0;
}

/*종류별*/
.dropdown_bytype {
  justify-content: center;
  display: flex;
  padding: 0;
}

.down_btn{
  border: none;
  padding-right:10px;
  padding-left:10px;
  padding-top: 5px;
  background-color:white;
  color: black;
  border-radius:5px;
  cursor: pointer;
}

.dropdown{
  display: flex;
  
}

/*
* footer 관련 코드
*/
footer {
  padding: 10px;
  text-align: center;
  background: white;
  margin-top: 20px;
  clear: both;
  background-color: lightgray;
  color: white;
}

/*body 가운데 정렬*/
.body_box {
  width: 1350px;
  margin: 0 auto;
}


/*로그인 버튼*/
.logout {
    color: white;
    background: #00462A;
    border-color: #00462A;
}

.logout:hover{
  background-color: #E4F0EB;
  color: black;
}

.login_btn {
    color: white;
}
