.recommendation{
    display: flex;
    text-align: center;
	flex-direction: column;
	width: 30%;
    margin-top: 30px;
	margin-bottom: 20px;
	margin-left: 32px;
}
p.recommend{
	text-align:center;
	font-weight:bold;
	font-size:17px;
	justify-content: center;
    align-items: center;
    display: flex;
	margin: 1px;
}
.recommendbox{
	text-align:center;
	margin-left:10px;
	margin-right:10px;
	color: #00462A;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

.background{
	padding: 20px;
	border: #E4F0EB solid;
	width: 70%;
	justify-content: center;
	display: flex;
	background-color: #E4F0EB;
}

.rec{
	display: flex;
	justify-content: center;
	
}

.push_btn{
	margin-left: 5px;
	background-color: white;
}

.shop_name {
    position: relative;
    display: inline;
    font-size: 25px;
    font-weight: bold;
}

.star {
    position: relative;
    display: inline;
    font-size: 40px;
}

.like {
    position: relative;
    display: inline;
    top: 7px;
}
