.page-nation li{
    list-style: none;
    background-color: #E4F0EB;
    border-radius: 3px;
}

.page-wrap{
    text-align: center;
    font-size: 0;
}

.page-nation{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.page-nation a{
    display: block;
    margin: 0 3px;
    float: left;
    border: 1px solid #00462A;
    width: 30px;
    height: 30px;
    line-height: 28px;
    border-radius: 8px;
    text-align: center;
    background-color: #00462A;
    font-size: 13px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.restobj {
    width: 1000px;
    background-color: #E4F0EB;
    border-radius: 15px;
    padding: 3% 5%;
    margin-top: 3%;
    display: flex;
    align-items: center;
  }
.restobj_left {
  width: 15%;
}

.restobj_right {
  width: 80%;
  margin-left: 5%;
}

.restobj_left img {
  width: 100%;
  border-radius: 15px;
}
