.container{
    width:1000px;
    margin:0 auto;
    size: 150%;
   }

    
    .body_box {
        width: 1350px;
        margin:0 auto;
        box-sizing: border-box;
      }
  
    
    .label{
        width:150px;
        padding:15px;
        background:#E4F0EB;
        border-radius:4px;
        position: static;
        display:inline-block;
        font-size: 17px;
        font-weight: 600;
        text-align: center;
    }
    
    .label1{
        width:45px;
        padding:12px;
        background:#E4F0EB;
        border-radius:4px;
        position: static;
        display:inline-block;
        font-size: 15px;
        text-align: center;
        font-weight: 600;
    }
    
    .btnbox{
        display: flex;
        justify-content: center;
    }
    
    #btn2{
        width:170px;
        height:50px;
        background:#00462A;
        display: inline-block;
        text-align:center;
        font-size:17px;
        position:relative;
        border-radius:24px;
        border-color:#00462A;
        border:0;
        color:white;
        text-decoration: none;
        font-weight: 600;
    }
    
    #btn2:hover{
        background-color: #E4F0EB;
        color:black;
    }
    
   .title{
        margin: auto;
        width:300px;
        height: 50px;
        font-size: 29px; 
        background-color: #00462A;
        border-radius: 20px;
        color: white;
        display: flex;
        text-align: justify;
    }

    #name,#select-type,#select-location,#locatedetail,#phone,#day,#extra{
        width: 790px;
        height:45px;
        border: 0;
        background-color: #EDEDED;
        border-radius: 3px;
        font-size: 16px;
        text-align: center;
    }
    
.textB{
    width:50px;
    height:45px;
    background-color: #E4F0EB;
    text-align: center;
    border-radius: 3px;
    display: inline-block;
    font-size: 16px;
}

    #start,#end,#break{
        width:50px;
        height:45px;
        background-color: #E4F0EB;
        text-align: center;
        border-radius: 3px;
        display: inline-block;
        font-size: 16px;
    }
    
  

    .buttonlist {
        margin-left: 300px;
    }
    
    
   .oneday{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
   }
    
    #plus:hover{
        background-color: #EDEDED;
        color:black;
    }
    
    .time{
        display: flex;
    }
    .timelabel{
        float:left;
    }
    .week{
        float:right;
    }

    .dayLB{
        width:50px;
        padding:12px;
        position: static;
        display:inline-block;
        font-size: 15px;
        font-weight: 800;
    }
    input[type="checkbox"] {
        width: 17px; 
        height: 17px; 
      }
    .title{
        display: flex;
        margin-top: 10px;
        justify-content: space-around;
    }
    .rest, .start, .end, .break{
        display: flex;
    }

    .labelT{
        height: 30px;
        width:100px;
        background:#E4F0EB;
        border-radius:4px;
        position: static;
        display:flex;
        font-size: 15px;
        justify-content: center;
        font-weight: 600;
        align-items: center;
    }
