div{
	width: 100%;
}

.section {   
  position: relative;
  display: inline;
  float: left;
  top: -350px;
  left: 700px;
  padding-left: 3px;
}

.shop{
  position:relative;
  float:left;
  top: -70px;
  left: 200px;
  display:inline;
  
}

.review_button {
    margin-left: 30px;
    position: relative;
    float: left;
    left: 175px;
    top: -150px;
    width: 180px;
    margin-top: 30px;
    height: 40px;
    background: #00462A;
    border-radius: 24px;
    color: white;
    border: 0;
    border-color: #00462A;
    display: inline;
    text-align: top-center;
    text-indent: 0.1em;
    font-size: 15px;
      }
#review_write{
	background-color:transparent; 
	border:none;
}
.aside {
    position:relative;
    width:400px; /* wrap에 속한 div의 넓이+margin값을 더한 넓이와 높이값 */
    height:400px;
    float: left;
    top: 80px;
    left: 200px;
    display: inline;
}

.photo{
	text-align:center;
  float: left;
	background-color:#EDEDED;
}

.photo_button{
  height :200px;
  width:200px;
  background-color:#EDEDED;
  position:relative; 
  float:left;
  diplay: inline;
  vertical-align:middle; 
  font-size:23px; 
  border:none;
  text-align:center;
  justify-content: center;
  line-height:200px;
}


.description {
    
	width: 350px;
	padding: 10px;
	background: #E4F0EB;
	border-radius: 3px;
   position: relative;
	float: left;
	display: inline-block;

  }

h2{
	font-size: 35px; 
	position: relative; 
  float: left;
  diplay: inline;
}
.shop_like{
	position: relative;
	border:none; 
	background-color:white;
}
.share{
	position: relative;
	border:none; 
	background-color:white;
}
.map{
  position: relative;
  float:left;
  display: inline;
  width:375px;
  height: 250px;
  left: 280px;
  top: -330px;
}

.shop_star{
	color:gold; 
	position:relative; 
	font-size:35px; 
	display:inline; 
	margin-left:10px;
  top: 80px;
  left: -180px;
}

.review_button:hover{
  background-color: #E4F0EB;
  color:black;
}
