.shop{
  position:relative;
  float:left;
  top: 0px;
  left: 300px;
  display:inline;
  
}


.button {
    margin-right: 40px;
    position: relative;
    float: left;
    width: 150px;
    top: 20px;
    left: 145px;
    margin-top: 25px;
    height: 40px;
    background: #00462A;
    border-radius: 24px;
    color: white;
    border: 0;
    border-color: #00462A;
    display: inline;
    text-align: top-center;
    text-indent: 0.1em;
    font-size: 20px;
}

.button:hover{
  background-color: #E4F0EB;
  color:black;
}




.description {
	width: 550px;
	padding: 10px;
	background: #E4F0EB;
	border-radius: 3px;
    position: relative;
	float: left;
    left: 130px;
    top: -320px;
	display: inline-block;
    font-size: 23px;
}

h1{
    font-size: 40px; 
    position: relative;
    float: left;
    left: 130px;
    float: left;
    display: inline;
    width: 1350px;
    top: 50px;
}

.shop_like{
	position: relative;
    display: inline;
	border: none; 
	background-color: white;
    top: 50px;
    left: -200px;
}


.share{
	position: relative;
    display: inline;
	border: none; 
	background-color:white;
    top: 50px;
    left: -200px;
}



.shop_star{
	color:gold; 
	position:relative; 
	font-size:50px; 
	display:inline; 
    left: -200px;
    top: 38px;
}


.star_rate{
	color: black; 
	position: relative; 
	font-size: 35px; 
	display: inline; 
	margin-left: 10px;
    left: -205px;
    top: 38px;
    font-weight: 500;
}


.photo{
    height:430px; 
    width:430px;
    position: relative;
    display: inline-block;
    float: left;
    top: 120px;
    left: 100px;
	background-color:#EDEDED;
    border-radius:24px;
    
}


#map {
  position: relative;
  float:left;
  display: inline;
  width: 1080px;
  height: 600px;
  left: 130px;
  top: -250px;
}


/*아래는 식당정보 수정 버튼 추가를 위한 css 코드*/
#header_box {
    /*식당 이름과 식당정보 수정 버튼을 감싸는 div. 식당정보 수정 버튼의 위치 설정을 위해 감쌌음.*/
    display: flex;
    align-items: baseline;
}

#edit {
    /*식당정보 수정 버튼*/
    font-size: small;
    margin-right: 15%;
    font-weight: 600;
}