*{
	text-decoration:none;
	color:black;
	list-style:none;
}

.middleheader{
	display:flex;
	justify-content:space-between;
	position:relative;
}

.toggle-btn{
	display:flex;
	flex-direction:column;
	text-align:center;
	height:84px;
	margin-top:30px;
}

.togglelabel{
	display:flex;
	font-size:14px;
	margin-left:37px;
	color:black;
}

.toggleSwitch{
	position:absolute;
   width: 4.2rem;
   margin: 1.5rem;
   height: 2rem;
  	display:flex;
   border-radius: 2rem;
   background-color: #fff;
   box-shadow: 0 0 1rem 3px rgba(0 0 0 / 15%);
   cursor: pointer;
}

.toggleSwitch .toggleButton {
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  top: 50%;
  left: .2rem;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #00462A;
}

#toggle:checked ~ .toggleSwitch {
  background:#E4F0EB;
}

#toggle:checked ~ .toggleSwitch .toggleButton {
  left: calc(100% - 2.0rem);
  background: #00462A;
}

.toggleSwitch, .toggleButton {
  transition: all 0.2s ease-in;
}


.logo_container{
	display:flex;
	text-align:center;
	justify-content:center;
}

.logo1{
	padding:10px 20px;
	width:20%;
	height:min-content;
}


.logout_container{
	display: flex;
	text-align:center;
	align-items: center;
	margin-top: 10px;
	margin-right: 30px;
}

.logout{
	padding:10px 20px 10px 20px;
	border-radius:30px;
	background-color:#E4F0EB;
	display:flex;
	height: 30px;
	width: 70px;
	cursor:pointer;
	align-items: center;
	justify-content: center;
	font-size: 16px;
}

.floatingBtn .loginBtn, .likeBtn{
	width:75px;
	height:75px;
	position:fixed;
	bottom:20px;
	right:20px;
}

.contentbody{
	width:100%;
	display: flex;
	text-align:center;
}
.maincontent{
	margin-top: -25px;
	margin-left:10px;
	margin-right:10px;
	text-align: center;
	width:100%;
	display:flex;
	align-content: center;
	justify-content: center;
}

.bestLabel{
	display: flex;
	text-align:center;
	left:180px;
	top:-7px;
	font-size:19px;
	position:absolute;
	color:black;
	font-style:bold;
	padding:10px;
}

.labelandshop{
	position:relative;
	margin-top:30px;
	padding-top:20px;
	display:inline-block;
	text-align:center;
}

.maincontent .shop{
	display:inline-block;
	text-align:center;
	margin-bottom: 20px;
}

.shop2{
	display:inline-block;
	text-align:center;
	margin-bottom: 20px;
}

.shop2 img{
	width: 400px;
	height:400px;
		
}

.maincontent .shop_star, .locationContent .shop_star{
	display:inline;
	font-size:17px;
}

.maincontent .star, .locationContent .star{
	display:inline-block;	
}

.maincontent .shop_name, .locationContent .shop_name{
	display:inline-block;
	margin-left:5px;
	margin-right:5px;
}

.maincontent .shop_like, .locationContent .shop_like{
	display:inline-block;
	height:20px;
}

.maincontent .like, .locationContent .like{
	width:20px;
	height:20px;
}


.restaurantBox{
	text-align:center;
	padding:3px;
	margin:20px 10px 10px 10px;
	border: 3px solid black;
	color:white;
}

.restaurantBox:hover{
	background-color:lightgray; 
}


.restaurantpic{
	width:400px;
	height:400px;
}

.sidecontent{
	float:right;
	width:32%;
	margin-right:10px;
	position:relative;
}

.likebox{
	background-color:#E4F0EB;
	margin-left:10px;
	margin-right:10px;
	padding:20px 10px 20px 10px;
}
.likelist .likelistlink{
	text-decoration: none;
	color:black;
}
.likeboxsample{
	display:block;
	width:inherit;
	background-color:white;
	color:black;
	border: 2px solid #00462A;
	border-radius:5px;
	padding:20px 40px 20px 40px;
	margin: 20px 20px 20px 20px;
	text-align:center;
}

.likebox a{
	text-decoration:none;
	color:black;
	font-size:16px;
}


/* 가나다순 페이지*/
.ganadahead{
	border: black solid 3px;
	position:relative;
	display: flex;
	align-items: center;
	height:100px;
	text-align:center;
	justify-content: center;
	margin:10px 200px 70px 200px;
}

.ganadaul{
	padding: 10px ;
}

.ganadali{
	display: inline-block;
	padding: 0px 3px 0px 3px;
	margin-left: 3px;
	margin-right: 3px;
}

.ganadaulga a:hover{
	color:lightgray;
}

.ganadahead a{
	display:block;
	font-size:17px;
	color: black;
	font-weight:500;
}
.ganadahead a:hover{
	color: lightgray;
}

.ganadabody{
	position: relative;
	justify-content: center;
}

.ganadaulga{
	margin-right: 50px;
	margin-bottom:50px;
}

.ganadaBox{
	background-color:#E4F0EB;
	margin-bottom:10px;
	width:100%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.astyle{
	position: relative;
	display: flex;
	margin-bottom: 20px;
	top:20px;
	left:30px;
	text-decoration:none;
	color:black;
	cursor: pointer;
}

/* 위치별/종류별 페이지*/
.location{
	margin:0px 60px;
}

.locationContent{
	text-align:center;
}

.locationLabel{
	margin-left: 160px;
	margin-bottom: 10px;
	font-size:18px;
}
.locationBoxes{
	text-align:center;
}

.locationBox{
	display:inline-block;
	border:2px solid black;
	padding: 3px;
	text-align:center;
	margin: 15px 10px 15px 10px;
}

.locationBox img{
	width:280px;
	height:160px;
}

.kinds{
	margin:60px;
}

.kindboxes{
	text-align: center;
}

.kindsLabel{
	margin-left: 160px;
	margin-bottom: 10px;
	font-size:18px;
}

.kindsBox{
	text-align:center;
	width:20%;
	display:inline-block;
	color:white;
	background-color: #00462A;
	padding: 50px 30px;
	margin: 15px 10px 15px 10px;
	font-size:25px;
}


.kindsBox a, .kindsBox2 a, .kindsBox3 a, 
.kindsBox4 a, .kindsBox5 a, .kindsBox6 a{
	text-decoration:none;
	color:white;
}

.section{
	margin:70px 30px 10px 30px;
}

.section a{
	color:black;
}
.sectionlabel, .whatsection{
	display:inline-block;
}

.star{
	color:gold;
}
