h1 {
  margin-left: 500px; 
  font-size: 40px; 
  background-color: #00462A;
  color: white;
  text-align: center;
  margin-right: 500px;
}

.eval_box {
  position: relative;
  width: 1000px;
  left: 10px;
}

.eval_button {
  position: relative;
  width: 150px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 80px;
  margin-right: 30px;
  background: #00462A;
  border-radius: 24px;
  color: white;
  border: 0;
  display: inline-block;
  text-align: top-center;
  text-indent: 0.1em;
  font-size: 18px;
}
 

.eval_num {
  position: relative;
  display: inline;
  top: 3px;
  height: 40px;
  font-size: 30px;
  line-height: 40px; 
  color: white;
}

.star_box {
  left: 970px;
  top: -117px;
  width: 300px;
  height: 100px;
  background: #E4F0EB;
  border-radius: 24px;
  position: relative;
  display: inline-block;
}

#information {
    font-size: 20px;
    text-align: center;
    top: -10px;
    line-height: 30px;
}
     
/**star-rating**/
.star-rating {
  display: flex;
  flex-direction: row-reverse;
  font-size: 45px; 
  line-height: 45px; 
  justify-content: space-around;  
  padding: 0 5px; 
  text-align: center;
  width: 5em;
  margin-left: 35px;
  margin-top: 8px;
}
 
.star-rating input {
  display: none;
}
 
.star-rating label {
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2.3px;
  -webkit-text-stroke-color: #2b2a29;
  cursor: pointer;
}
 
.star-rating :checked ~ label {
  -webkit-text-fill-color: gold;
}
 
.star-rating label:hover,
.star-rating label:hover ~ label {
  -webkit-text-fill-color: #fff58c;
}
/**star-rating 끝**/

.star_button1 {
  position: relative;
  width: 60px;
  height: 28px;
  margin-top: 12px;
  margin-bottom: 15px;
  margin-left: 225px;
  margin-right: 30px;
  background: #00462A;
  border-radius: 24px;
  color: white;
  border: 0;
  border-color: #00462A;
  display: inline-block;
  text-align: top-center;
  text-indent: 0.1em;
  font-size: 15px;
}

#View_area {
	position: relative; 
	display: inline;
	float: left;
	width: 250px; 
	height: 250px;
	margin-left: 5px;
	color: black; 
	border: 0px solid black; 
}



.review_box {
  width: 940px;
  height: 280px;
  background: #EDEDED;
  border-radius: 10px;
  border: 0;
  position: relative;
  display: inline;
  float: left;
  margin-top: -305px;
  margin-left: 310px;
  text-indent: 0.1em;
  text-align: center;
  padding: 0px 0px;
  font-size: 20px;
  line-height: 200px;
}

.star_button2 {
  position: relative;
  width: 80px;
  height: 40px;
  left: 900px;
  top: 170px;
  background: #00462A;
  border-radius: 24px;
  color: white;
  border: 0;
  border-color: #00462A;
  display: inline;
  text-align: top-center;
  text-indent: 0.1em;
  font-size: 18px;
}

.star_button1:hover{
  background-color: lightgray;
  color:black;
}

.star_button2:hover{
  background-color: lightgray;
  color:black;
}

.eval_button:hover{
  background-color: #E4F0EB;
  color:black;
}

/*------------------------------------------------*/
.filebox {
	position: relative;
	display: inline;
	float: left;
	width: 300px;
}




.upload-name {
	position: relative;
	display: inline;
	float: left;
	height: 35px;
	padding: 0px 10px;
	text-align: left;
	line-height: 35px;
	vertical-align: middle;
	border: 1px solid #dddddd;
	width: 180px;
	color: gray;
	background-color: #f5f5f5;
	border-radius: 5px;
	font-size: 18px;
}

.filebox label {
	position: relative;
	display: inline;
	float: left;
	width: 70px;
	padding: 5px;
	color: white;
	text-align: center;
	line-height: 28px;
	vertical-align: middle;
	background-color: #00462A;
	cursor: pointer;
	height: 28px;
	margin-left: 5px;
	border-radius: 5px;
	font-size: 18px;
}

.filebox label:hover{
  background-color: #E4F0EB;
  color:black;
}


.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}
/*------------------------------------------------*/
