.body_box {
  width: 1350px;
  margin: 0 auto;
}

.haeun_ewhagreen {
  background-color: #00462a;
  color: white;
}
.haeun_lightgreen {
  background-color: #e4f0eb;
}
.haeun_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 10px;
}

.haeun_buttoncontainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.haeun_left {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
}
.haeun_label {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  font-weight: 800;
}
.haeun_short {
  height: 50px;
}

.haeun_medium {
  height: 200px;
}

.haeun_left input {
  width: 500px;
  background-color: #ededed;
  border: none;
  margin: 5px;
}

.haeun_left textarea {
  width: 1000px;
  background-color: #ededed;
  border: none;
  margin: 5px;
}

#haeun_form {
  width: 100%;
}

#haeun_addphoto {
  width: min-content;
  height: 200px;
}

#haeun_photo {
  background-color: white;
}

.haeun_buttoncontainer input {
  width: 200px;
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 800;
}

.button {
  width: 200px;
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration-line: none;
  border-radius: 15px;
}

.button:hover {
  background-color: #e4f0eb;
  color: black;
}
