/**
* 아래는 로고 관련 코드
*/

/*메인 화면 로고의 크기와 패딩을 설정함*/
.logo1 {
  padding: 10px 10px;
  width: 20%;
  height: min-content;
}

/*나머지 화면 로고의 크기와 패딩을 설정함*/
.logo2 {
  padding: 10px 10px;
  width: 10%;
  height: min-content;
}

/*로고를 가운데정렬해줌*/
.logo_container {
  display: flex;
  justify-content: center;
}

.logo_container a {
  display: flex;
  justify-content: center;
}

/**
* 아래는 내비게이션 바 관련 코드
*/

/*내비게이션 바 전체 영역*/
.nav_bar {
  width: 100%;
  display: flex;
  background-color: #00462a;
  width: 100%;
}

/*왼쪽의 버튼 2개가 있는 영역*/
.nav_bar_left {
  display: flex;
  justify-content: left;
  list-style: none;
  padding-left: 10px;
}

/*왼쪽, 오른쪽 버튼들 각각의 서식*/
.nav_bar_left li a,
.nav_bar_right li a,
.nav_bar_right li {
  padding: 0px 10px;
  color: white;
  font-weight: 800;
  text-decoration-line: none;
}

/*오른쪽의 버튼 3개가 있는 영역*/
.nav_bar_right {
  display: flex;
  justify-content: right;
  list-style: none;
  margin-left: auto;
  padding-right: 10px;
}

/*네비바 드롭다운 관련 코드*/

/*드롭다운 콘텐츠 div*/
.nav_bar_dropdown {
  justify-content: center;
  position: absolute;
  display: none;
  right: -1px;
  top: 54px;
  background-color: #e4f0eb;
  padding: 20px;
  z-index: 1;
}

.dropdown_location1 {
  margin-bottom: 5px;
}

.dropdown_bytype1 {
  margin-bottom: 5px;
}

.nav_bar_right .nav_bar_dropdown a {
  color: black;
}

.nav_bar_right .nav_bar_dropdown a:hover {
  color: white;
}

.dropdownLabel {
  text-align: center;
  padding-bottom: 10px;
}

/*위치별*/
.dropdown_location {
  display: flex;
  flex-direction: column;
  text-align: center;
  float: left;
}

/*종류별*/
.dropdown_bytype {
  flex-direction: column;
  text-align: center;
  display: flex;
}

/*마우스 hover시 등장하도록*/
.dropdown:hover .nav_bar_dropdown {
  display: block;
}
