.haeun_ewhagreen {
  background-color: #00462a;
  color: white;
}
.haeun_lightgreen {
  background-color: #e4f0eb;
}
.haeun_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 10px;
}

#small_photoes {
  display: flex;
  flex-direction: column-reverse;
}

#haeun_leftblock {
  width: 40%;
  display: flex;
  justify-content: left;
}

#haeun_rightblock {
  width: 60%;
  display: flex;
  flex-direction: column;
}

#big_photo img{
  width: 100%;
}

#desc {
  width: 90%;
  background-color: #EDEDED;
  padding: 30px;
  border-radius: 15px;
}

#desc p {
  font-size: 20px;
}

#review {
  margin-top: 50px;
}

#haeun_reviewhead {
  font-size: 30px;
  font-weight: 600;
}

#haeun_reviewnum {
  font-size: 20px;
  margin-left: 10px;
}

#review-top-stars_container {
  width: 90%;
  background-color: #EDEDED;
  padding: 30px;
  border-radius: 15px;
}

#review-top-stars {
  width: 40%;
}