.body_box {
  width: 1350px;
  margin: 0 auto;
}

.haeun_ewhagreen {
  background-color: #00462a;
  color: white;
}
.haeun_lightgreen {
  background-color: #e4f0eb;
}
.haeun_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 10px;
}

#small_photoes {
  display: flex;
  width: 20%;
  flex-direction: column;
}

#small_photoes img,
#small_phtoes div {
  width: 100%;
  height: min-content;
}

.seemore {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  padding: 40% 10%;
  background-color: #ededed;
  text-decoration-line: underline;
}

#haeun_leftblock {
  width: 40%;
  display: flex;
  justify-content: left;
}

#haeun_rightblock {
  width: 60%;
  display: flex;
  flex-direction: column;
}

#big_photo img {
  width: 100%;
}

#desc {
  width: 90%;
  background-color: #ededed;
  padding: 30px;
  border-radius: 15px;
}

#desc p {
  font-size: 20px;
}

#review {
  margin-top: 50px;
}

#keypointshead {
  margin-left: 48%;
  font-weight: 800;
}

#haeun_reviewhead {
  font-size: 30px;
  font-weight: 600;
}

#haeun_reviewnum {
  font-size: 20px;
  margin-left: 10px;
}

#review-top {
  width: 90%;
  display: flex;
}

#review-top-stars_container {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 15px;
  background-color: #ededed;
}

#review-top-keypoints {
  width: 40%;
}

#review-top-stars {
  width: 80%;
}

.keypoint_box {
  width: 100%;
  margin-bottom: 5%;
  margin-left: 5%;
  padding-left: 5%;
  background-color: #ededed;
  height: 28%;
  display: flex;
  align-items: center;
  border-radius: 15px;
  font-size: 18px;
}

.keypoint_num {
  margin-left: auto;
  margin-right: 5%;
  font-weight: 800;
}

#review-bottom {
  margin-top: 20px;
}

#review-bottom-contents {
  padding: 10px;
  background-color: #ededed;
  border-radius: 15px;
  width: 90%;
}

.reviewpost {
  margin: 10px 10px;
  border-radius: 15px;
  background-color: white;
  padding: 20px;
}

#review-bottom-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 10px;
}

#review-bottom-page img {
  width: 50%;
}
