body{
	display:block;
	margin: 30px 50px 10px 50px;
}
header{
	display:block;
	width:100%;
	border-top:1px solid white;
	border-bottom:1px solid white;
	background-color:#00462A;
	padding: 50px 0px;
	position:relative;
}


.left-nav{
	position: absolute;
	left: 10px;
	top:10px;
}

.right-nav{
	position: absolute;
	right: 10px;
	top:10px;
}

.left-nav li, .right-nav li{
	display:inline-block;
	
	padding: 0;
}

.left-nav a, .right-nav a{
	display:block;
	position: relative;
	padding: 30px 25px;
	font-size:17px;
	color: white;
	background-color:#00462A;
	font-weight:500;
}

*{
	text-decoration:none;
	list-style-type:none;
	margin:0;
	padding:0;
}

a{
	color:black;
}

.left-nav a.current,  
.right-nav a.current{
	background-color:#00462A;
	color: white;
}

.left-nav a:hover:not(.current), 
.right-nav a:hover:not(.current){
	background-color:#E4F0EB;
	color: #00462A;
}


.middleheader{
	margin-top:40px;
	display:inline-block;
	position:relative;
	width:100%;
	height:100%;
}

.toggle-btn{
	display:inline-block;
	text-align:center;
	width:33%;
	height:84px;
}

.togglelabel{
	display:inline-block;
	position:absolute;
  	top:50px;
	font-size:14px;
	left:23px;
	margin-left:1.5rem;
	color:black;
}

.toggleSwitch{
	position:absolute;
   width: 4.2rem;
   margin: 1.5rem;
   height: 2rem;
  	display:inline-block;
	top:50px;
	left:10px;
   border-radius: 2rem;
   background-color: #fff;
   box-shadow: 0 0 1rem 3px rgba(0 0 0 / 15%);
   cursor: pointer;
}

.toggleSwitch .toggleButton {
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  top: 50%;
  left: .2rem;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #00462A;
}

#toggle:checked ~ .toggleSwitch {
  background:#E4F0EB;
}

#toggle:checked ~ .toggleSwitch .toggleButton {
  left: calc(100% - 2.0rem);
  background: #00462A;
}

.toggleSwitch, .toggleButton {
  transition: all 0.2s ease-in;
}


.logo-img{
	display:inline-block;
	width:32%;
	text-align:center;
}


.logo{
	display:inline-block;
	width:200px;
	height:80px;
}


.logout-btn{
	float:right;
	width:30%;
	display:inline-block;
	text-align:right;
	margin-right: 20px;
	margin-top: 30px;
	/*
	visibility:hidden;
	*/
}

.logout{
	padding:10px 20px 10px 20px;
	border-radius:30px;
	background-color:#E4F0EB;
	display:inline-block;
	cursor:pointer;
}

.floatingBtn{
	border-radius:50%;
	margin-right:-30px;
	width:75px;
	height:75px;
	border:3px solid black;
	background-color:white;
	position:sticky;
	bottom:20px;
	float:right;
	text-align:center;
	font-size:50px;
}

.contentbody{
	width:100%;
	display:inline-block;
}
.maincontent{
	margin-top:20px;
	margin-left:10px;
	margin-right:10px;
	float:left;
	width:65%;
	display:block;
}

.bestLabel{
	margin-left:3px;
	margin-top:20px;
	text-align:center;
	font-size:19px;
	display:inline-block;
	width:47%;
	color:black;
	font-style:bold;
	float:left;
}

.restaurantSample{
	display:inline-block;
	width:47%;
	text-align:center;
	margin-bottom: 20px;
}

.restaurantSample2{
	display:inline-block;
	width:33%;
	text-align:center;
	margin-bottom: 20px;
}

.restaurantScore{
	display:inline;
	font-size:17px;
}
.restaurantName{
	display:inline-block;
	margin-left:5px;
	margin-right:5px;
}

.restaurantLike{
	display:inline-block;
	height:10px;
	width:10px;
	background:#c9c9c9;
	border-radius: 0 0 0 3px;
	transform:rotate(-45deg);
	position:relative;
	border-radius:center;
	text-align:center;
	cursor:pointer;
}


.restaurantLike::before{
	position:absolute;
	content:"";
	top:-50%;
	left:0px;
	width:100%;
	height:100%;
	background:inherit;
	border-radius:50%;
}

.restaurantLike::after{
	position:absolute;
	content:"";
	right:-50%;
	top:0;
	width:100%;
	height:100%;
	background:inherit;
	border-radius:50%;
}

/*
.animation-restaurantLike{
	display:inline-grid;
	position:relative;
	justify-content:center;
	align-items:center;
	width:10px;
	height:10px;
	background-color: red;
	transform:rotate(-45deg);
	border-radius:0 0 0 3px;
	cursor:pointer;
	animation: popup .8s linear;
	visibility:hidden;
}

.animation-restaurantLike::after{
	position:absolute;
	content:"";
	height:100%;
	width:100%;
	top:-50%;
	right:0;
	background:inherit;
	border-radius:50%;
}

.animation-restaurantLike::before{
	position:absolute;
	content:"";
	height:100%;
	width:100%;
	right:-50%;
	background:inherit;
	border-radius:50%;
}

@keyframes popup{
	100%{
		transform: scale(1.5) rotate(-45deg);
		opacity: 0;
	}	
}
*/

.restaurantBox{
	text-align:center;
	padding:5px;
	margin:20px 10px 10px 10px;
	border: 3px solid black;
	color:white;
}

.restaurantBox:hover{
	background-color:lightgray; 
}


.restaurantpic{
	width:100%;
	
}

.sidecontent{
	float:right;
	width:32%;
	margin-top:45px;
	margin-right:10px;
	position:relative;
}

.recommend{
	width: 100%;
}
p.recommend{
	text-align:center;
	margin-bottom:10px;
	margin-top:10px;
	font-weight:bold;
	font-size:17px;
	
}
.recommendbox{
	background-color: #00462A;
	text-align:center;
	padding:40px;
	margin-left:10px;
	margin-right:10px;
}

.recommend a{
	text-decoration:none;
	color:white;
	font-size:16px;
}


.likebox{
	background-color:#E4F0EB;
	margin-left:10px;
	margin-right:10px;
	padding:20px 10px 20px 10px;
}


.likeboxsample{
	display:block;
	width:inherit;
	background-color:white;
	color:black;
	border: 2px solid #00462A;
	border-radius:5px;
	padding:20px 40px 20px 40px;
	margin: 20px 20px 20px 20px;
	text-align:center;
}

.likebox a{
	text-decoration:none;
	color:black;
	font-size:16px;
}


/* 가나다순 페이지*/
.ganadahead{
	position:relative;
	height:150px;
	text-align:center;
	margin:10px 0px 10px 0px;
}

.ganadaul{
	margin:50px 0px 0px 0px;
	padding: 10px 20px 10px 20px;
}
.ganadali{
	display: inline-block;
	padding: 0px 3px 0px 3px
}

.ganadahead a{
	display:block;
	font-size:17px;
	color: black;
	font-weight:500;
}
.ganadahead a:hover{
	color: lightgray;
}

.ganadabody{
	position: relative;
	height:200px;
	margin: 10px 5px 10px 5px;
}

.ganadaulga{
	margin-left:150px;
	margin-right:150px;
	margin-bottom:50px;
}

.ganadaBox{
	background-color:#E4F0EB;
	margin-bottom:10px;
	width:100%;
	text-align:center;
	
}

.ganadaliga a{
	position: relative;
	top:20px;
	left:30px;
}

/* 위치별/종류별 페이지*/
.location{
	text-align:center;
	margin:60px;
	
}
.locationBox a{
	text-decoration:none;
	color:black;
}

.location image:hover{
	color:white;
}


.locationLabel{
	font-size:18px;
}
.locationBoxes{
	text-align:center;

}

.locationBox{
	display:inline-block;
	border:2px solid black;
	padding: 50px 30px;
	text-align:center;
	width:20%;
	margin: 15px 10px 15px 10px;
}


.kinds{
	text-align:center;
	margin:60px;
}

.kindsLabel{
	font-size:18px;
}

.kindsBox1, .kindsBox2, .kindsBox3{
	text-align:center;
	width:20%;
	display:inline-block;
	color:white;
	background-color: #00462A;
	padding: 50px 30px;
	margin: 15px 10px 15px 10px;
	font-size:25px;
}

.kindsBox4, .kindsBox5, .kindsBox6{
	text-align:center;
	width:20%;
	display:inline-block;
	color:white;
	background-color: #00462A;
	padding: 50px 30px;
	margin: 15px 10px 15px 10px;
	font-size:25px;
}

.kindsBox1 a, .kindsBox2 a, .kindsBox3 a, 
.kindsBox4 a, .kindsBox5 a, .kindsBox6 a{
	text-decoration:none;
	color:white;
}

.section{
	margin:70px 30px 10px 30px;
}

.section a{
	color:black;
}
.sectionlabel, .whatsection{
	display:inline-block;
}
