<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/AddMenu.css') }}" />
    {% endblock css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}" />
  </head>
  <body class="body_box">
    <div class="logo_container">
      <a href="/">
        <img class="logo2" src="/static/img/logo.png"
      /></a>
    </div>

    <div class="nav_bar">
      <ul class="nav_bar_left">
        <li><a href="/registerpage">맛집 등록</a></li>
      </ul>
      <ul class="nav_bar_right">
        <li><a href="/ganadapage">가나다순</a></li>
        <li class="dropdown">
          <a href="/typespage">위치/종류별</a>
          <div class="nav_bar_dropdown">
            <ul class="dropdown_location">
              <div class="dropdownLabel">위치별</div>
              <li class="dropdown_location1">
                <a href="/locationtype">교내</a>
              </li>
              <li class="dropdown_location1">
                <a href="/locationtype">정문</a>
              </li>
              <li class="dropdown_location1">
                <a href="/locationtype">후문</a>
              </li>
            </ul>
            <ul class="dropdown_bytype">
              <div class="dropdownLabel">종류별</div>
              <li class="dropdown_bytype1">
                <a href="/bytypepage">한식</a>
              </li>
              <li class="dropdown_bytype1">
                <a href="/bytypepage">양식</a>
              </li>
              <li class="dropdown_bytype1">
                <a href="/bytypepage">중식</a>
              </li>
              <li class="dropdown_bytype1">
                <a href="/bytypepage">일식</a>
              </li>
              <li class="dropdown_bytype1">
                <a href="/bytypepage">분식</a>
              </li>
              <li class="dropdown_bytype1">
                <a href="/bytypepage">비건/기타</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>

    {% block section %}

    <h1 class="haeun_container"><label for="name"></label>{{data.restaurant_name}} 메뉴 추가하기</label></h1>

    <div class="haeun_container">
      <!--form의 action 어트리뷰트의 내용은 임시로 "/"라고 해놓았음-->
      <form action="/submit_menu" enctype="multipart/form-data" method="post" id="haeun_form">
        <input type="hidden" name="restaurant" id="restaurant" value="{{data.restaurant_name}}"/>
        <div class="haeun_left haeun_short">
          <label for="haeun_name" class="haeun_lightgreen haeun_label">
            메뉴명
          </label>
          <input type="text" id="haeun_name" name="menuname" required/>
          <label for="haeun_price" class="haeun_lightgreen haeun_label">
            가격
          </label>
          <input type="number" id="haeun_price" name="menuprice" required />
        </div>
        <div class="haeun_left haeun_medium">
          <label for="haeun_description" class="haeun_lightgreen haeun_label">
            메뉴설명
          </label>
          <textarea id="haeun_description" rows="5" cols="30" name="menudesc" required></textarea> <br />
        </div>
        <div class="haeun_left haeun_medium">
          <label for="newmenuimg" class="haeun_lightgreen haeun_label">
            메뉴사진
          </label>
          <input type="file" name="newmenuimg" id="newmenuimg" required/>
        </div>
        <div class="haeun_buttoncontainer">
          <input type="submit" class="haeun_ewhagreen button"/>
          <!--취소 버튼을 눌렀을 때 해당 가게의 세부정보화면으로 가게 하였음-->
          <a class="haeun_ewhagreen button" href="/specificscreen/{{data.restaurant_name}}">취소</a>
        </div>
      </form>
    </div>

    {% endblock section %}

    <footer>
      <span>Copyright 2022. EatWha. All Rights Reserved.</span>
    </footer>
  </body>
</html>
