<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="css/components.css" />
    <link rel="stylesheet" href="css/AddMenu.css" />
  </head>
  <body class="body_box">
    <div class="logo_container">
      <a href="index.html">
        <img class="logo2" src="https://i.imgur.com/oRaGn6E.png"
      /></a>
    </div>

    <div class="nav_bar">
      <ul class="nav_bar_left">
        <li><a href="RegisterPage.html">맛집 등록</a></li>
        <li><a href="WriteReview.html">리뷰작성</a></li>
      </ul>
      <ul class="nav_bar_right">
        <li><a href="GanadaPage.html">가나다순</a></li>
        <li class="dropdown">
          <a href="TypesPage.html">위치/종류별</a>
          <div class="nav_bar_dropdown">
            <ul class="dropdown_location">
              <div class="dropdownLabel">위치별</div>
              <li class="dropdown_location1">
                <a href="LocationType.html">교내</a>
              </li>
              <li class="dropdown_location1">
                <a href="LocationType.html">정문</a>
              </li>
              <li class="dropdown_location1">
                <a href="LocationType.html">후문</a>
              </li>
            </ul>
            <ul class="dropdown_bytype">
              <div class="dropdownLabel">종류별</div>
              <li class="dropdown_bytype1">
                <a href="ByTypePage.html">한식</a>
              </li>
              <li class="dropdown_bytype1">
                <a href="ByTypePage.html">양식</a>
              </li>
              <li class="dropdown_bytype1">
                <a href="ByTypePage.html">중식</a>
              </li>
              <li class="dropdown_bytype1">
                <a href="ByTypePage.html">일식</a>
              </li>
              <li class="dropdown_bytype1">
                <a href="ByTypePage.html">분식</a>
              </li>
              <li class="dropdown_bytype1">
                <a href="ByTypePage.html">비건/기타</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>

    <h1 class="haeun_container">모미지식당 메뉴 추가하기</h1>

    <div class="haeun_container">
      <!--form의 action 어트리뷰트의 내용은 임시로 "/"라고 해놓았음-->
      <form action="/" method="post" id="haeun_form">
        <div class="haeun_left haeun_short">
          <label for="haeun_name" class="haeun_lightgreen haeun_label">
            메뉴명
          </label>
          <input type="text" id="haeun_name" name="menuname" />
          <label for="haeun_price" class="haeun_lightgreen haeun_label">
            가격
          </label>
          <input type="number" id="haeun_price" name="menuprice" />
        </div>
        <div class="haeun_left haeun_medium">
          <label for="haeun_description" class="haeun_lightgreen haeun_label">
            메뉴설명
          </label>
          <textarea id="haeun_description" rows="5" cols="30"></textarea> <br />
        </div>
        <div class="haeun_left haeun_medium">
          <label for="haeun_photo" class="haeun_lightgreen haeun_label">
            메뉴사진
          </label>
          <img id="haeun_addphoto" src="https://i.imgur.com/VaUkyA2.png" />
          <input type="file" id="haeun_photo" accept="image/*" />
        </div>
        <div class="haeun_buttoncontainer">
          <a class="haeun_ewhagreen button" href="ViewMenu.html">완료</a>
          <!--버튼을 눌렀을 때 해당 가게의 세부정보화면으로 가게 하였음-->
          <a class="haeun_ewhagreen button" href="SpecificScreen.html">취소</a>
        </div>
      </form>
    </div>
  </body>
  <footer>
    <span>Copyright 2022. EatWha. All Rights Reserved.</span>
  </footer>
</html>
