{% extends "AddMenu.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/WholePage.css') }}">
{% endblock css %}

{% block section %}
<div class="middleheader">
	<div class="toggle-btn">
		<input type="checkbox" id="toggle" hidden>
		<label for="toggle" class="togglelabel">
			<span class="toggle-label">영업중</span>
		</label> 
		<label for="toggle" class="toggleSwitch">
			<span class="toggleButton"></span>
		</label>
	</div>
	<div class="logout_container">
		<div class="logout" styles="visibility:hidden">
			로그아웃
		</div>
	</div>		
</div>
<div class="logo_container">
		<a href="/"><img class="logo1" src="static/img/logo.png" alt="logofailed"></a>
	</div>
<div class="section">
	<div class="sectionlabel">
		<a href="/typespage">종류별 </a> >
	</div>
	<div class="whatsection">
		한식
	</div>
</div>
<div class="locationContent">
	<div class="shop2">
		<div class="restaurantBox">
			<a class="restaurantA" href="/specificscreen"><img src="static/img/shoppic_momiji.png" class="restaurantpic" alt="fail"></a>
		</div>
		<div class="shop_star">
			<div class="star">★</div> 4.75
		</div>
		<div class="shop_name">
			<a href="/specificscreen">모미지식당</a>
		</div>
		<div class="shop_like">
			<img class="like" src="static/img/like.png">
		</div>	
	</div>
	<div class="shop2">
		<div class="restaurantBox">
			<a class="restaurantA" href="/specificscreen"><img src="static/img/shoppic_donkatsu.png" class="restaurantpic" alt="fail"></a>
		</div>
		<div class="shop_star">
			<div class="star">★</div> 별점
		</div>
		<div class="shop_name">
			<a href="/specificscreen">가게이름</a>
		</div>
		<div class="shop_like">
			<img class="like" src="static/img/like.png">
		</div>	
	</div>
	<div class="shop2">
		<div class="restaurantBox">
			<a class="restaurantA" href="/specificscreen"><img src="static/img/shoppic_jeontimai.png" class="restaurantpic" alt="fail"></a>
		</div>
		<div class="shop_star">
			<div class="star">★</div> 별점
		</div>
		<div class="shop_name">
			<a href="/specificscreen">가게이름</a>
		</div>
		<div class="shop_like">
			<img class="like" src="static/img/like.png">
		</div>	
	</div>
</div>
<a class="floatingA" href="/"><div class="floatingBtn"><img class="likeBtn" src="static/img/like.png"></div></a>
</div>

{% endblock section %}

		
