{% extends "AddMenu.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/WholePage.css') }}">
<script type="text/javascript" defer src="{{ url_for('static', filename='js/GanadaPage.js') }}"></script>
{% endblock css %}

{% block section %}
<script type="text/javascript">
	ga_data = {{ ga_data | tojson }}; ga_data = ga_data.replaceAll('"', ""); ga_data = ga_data.replace("[",""); ga_data = ga_data.replace("]",""); ga_list = ga_data.split(', ');
	na_data = {{ na_data | tojson }}; na_data = na_data.replaceAll('"', ""); na_data = na_data.replace("[",""); na_data = na_data.replace("]",""); na_list = na_data.split(', ');
	da_data = {{ da_data | tojson }}; da_data = da_data.replaceAll('"', ""); da_data = da_data.replace("[",""); da_data = da_data.replace("]",""); da_list = da_data.split(', ');
	ra_data = {{ ra_data | tojson }}; ra_data = ra_data.replaceAll('"', ""); ra_data = ra_data.replace("[",""); ra_data = ra_data.replace("]",""); ra_list = ra_data.split(', ');
	ma_data = {{ ma_data | tojson }}; ma_data = ma_data.replaceAll('"', ""); ma_data = ma_data.replace("[",""); ma_data = ma_data.replace("]",""); ma_list = ma_data.split(', ');
	ba_data = {{ ba_data | tojson }}; ba_data = ba_data.replaceAll('"', ""); ba_data = ba_data.replace("[",""); ba_data = ba_data.replace("]",""); ba_list = ba_data.split(', ');
	sa_data = {{ sa_data | tojson }}; sa_data = sa_data.replaceAll('"', ""); sa_data = sa_data.replace("[",""); sa_data = sa_data.replace("]",""); sa_list = sa_data.split(', ');
	aa_data = {{ aa_data | tojson }}; aa_data = aa_data.replaceAll('"', ""); aa_data = aa_data.replace("[",""); aa_data = aa_data.replace("]",""); aa_list = aa_data.split(', ');
	ja_data = {{ ja_data | tojson }}; ja_data = ja_data.replaceAll('"', ""); ja_data = ja_data.replace("[",""); ja_data = ja_data.replace("]",""); ja_list = ja_data.split(', ');
	cha_data = {{ cha_data | tojson }}; cha_data = cha_data.replaceAll('"', ""); cha_data = cha_data.replace("[",""); cha_data = cha_data.replace("]",""); cha_list = cha_data.split(', ');
	ka_data = {{ ka_data | tojson }}; ka_data = ka_data.replaceAll('"', ""); ka_data = ka_data.replace("[",""); ka_data = ka_data.replace("]",""); ka_list = ka_data.split(', ');
	ta_data = {{ ta_data | tojson }}; ta_data = ta_data.replaceAll('"', ""); ta_data = ta_data.replace("[",""); ta_data = ta_data.replace("]",""); ta_list = ta_data.split(', ');
	fa_data = {{ fa_data | tojson }}; fa_data = fa_data.replaceAll('"', ""); fa_data = fa_data.replace("[",""); fa_data = fa_data.replace("]",""); fa_list = fa_data.split(', ');
	ha_data = {{ ha_data | tojson }}; ha_data = ha_data.replaceAll('"', ""); ha_data = ha_data.replace("[",""); ha_data = ha_data.replace("]",""); ha_list = ha_data.split(', ');
</script>

<div class="middleheader">
	<div class="toggle-btn"></div>
	<div class="logout_container">
		{% if session['UserId'] %}
            <div class="logout" styles="visibility:hidden"><a class="login_btn" href="/logout">로그아웃</a></div>
            {% else %}
            <div class="logout" styles="visibility:hidden"><a class="login_btn" href="/login">로그인</a></div>
        {% endif %}
	</div>		
</div>

<div class="ganadahead">
	<ul class="ganadaul"> </ul><br><br>
		<li class="ganadali"><a href="#ga">ㄱ</a></li>&nbsp;
		<li class="ganadali">|</li>&nbsp;
		<li class="ganadali"><a href="#na">ㄴ</a></li>&nbsp;
		<li class="ganadali">|</li>&nbsp;
		<li class="ganadali"><a href="#da">ㄷ</a></li>&nbsp;
		<li class="ganadali">|</li>&nbsp;
		<li class="ganadali"><a href="#ra">ㄹ</a></li>&nbsp;
		<li class="ganadali">|</li>&nbsp;
		<li class="ganadali"><a href="#ma">ㅁ</a></li>&nbsp;
		<li class="ganadali">|</li>&nbsp;
		<li class="ganadali"><a href="#ba">ㅂ</a></li>&nbsp;
		<li class="ganadali">|</li>&nbsp;
		<li class="ganadali"><a href="#sa">ㅅ</a></li>&nbsp;
		<li class="ganadali">|</li>&nbsp;
		<li class="ganadali"><a href="#aa">ㅇ</a></li>&nbsp;
		<li class="ganadali">|</li>&nbsp;
		<li class="ganadali"><a href="#ja">ㅈ</a></li>&nbsp;
		<li class="ganadali">|</li>&nbsp;
		<li class="ganadali"><a href="#cha">ㅊ</a></li>&nbsp;
		<li class="ganadali">|</li>&nbsp;
		<li class="ganadali"><a href="#ka">ㅋ</a></li>&nbsp;
		<li class="ganadali">|</li>&nbsp;
		<li class="ganadali"><a href="#ta">ㅌ</a></li>&nbsp;
		<li class="ganadali">|</li>&nbsp;
		<li class="ganadali"><a href="#fa">ㅍ</a></li>&nbsp;
		<li class="ganadali">|</li>&nbsp;
		<li class="ganadali"><a href="#ha">ㅎ</a></li>
	</ul>
</div>
<div class="ganadabody">
	<ul class="ganadaulga"><a name="ga"><div class="ganadaBox">ㄱ</div></a>
		<li id="gaa"></li>
	</ul>
	<ul class="ganadaulga"><a name="na"><div class="ganadaBox">ㄴ</div></a>
		<li id="naa"></li>
	</ul>
	<ul class="ganadaulga"><a name="da"><div class="ganadaBox">ㄷ</div></a>
		<li id="daa"></li>
	</ul>
	<ul class="ganadaulga"><a name="ra"><div class="ganadaBox">ㄹ</div></a>
		<li id="raa"></li>
	</ul>
	<ul class="ganadaulga"><a name="ma"><div class="ganadaBox">ㅁ</div></a>
		<li id="maa"></li>
	</ul>
	<ul class="ganadaulga"><a name="ba"><div class="ganadaBox">ㅂ</div></a>
		<li id="baa"></li>
	</ul>
	<ul class="ganadaulga"><a name="sa"><div class="ganadaBox">ㅅ</div></a>
		<li id="saa"></li>
	</ul>
	<ul class="ganadaulga"><a name="aa"><div class="ganadaBox">ㅇ</div></a>
		<li id="aaa"></li>
	</ul>
	<ul class="ganadaulga"><a name="ja"><div class="ganadaBox">ㅈ</div></a>
		<li id="jaa"></li>
	</ul>
	<ul class="ganadaulga"><a name="cha"><div class="ganadaBox">ㅊ</div></a>
		<li id="chaa"></li>
	</ul>
	<ul class="ganadaulga"><a name="ka"><div class="ganadaBox">ㅋ</div></a>
		<li id="kaa"></li>
	</ul>
	<ul class="ganadaulga"><a name="ta"><div class="ganadaBox">ㅌ</div></a>
		<li id="taa"></li>
	</ul>
	<ul class="ganadaulga"><a name="fa"><div class="ganadaBox">ㅍ</div></a>
		<li id="faa"></li>
	</ul>
	<ul class="ganadaulga"><a name="ha"><div class="ganadaBox">ㅎ</div></a>
		<li id="haa"></li>
		<br><br>
	</ul>
</div>
{% if session['UserId'] %}
        <a class="floatingA" href="/mypage" ><div class="floatingBtn"><img class="loginBtn" src="static/img/like.png" /></div></a>
        {% else %}
        <a class="floatingA" href="/login" ><div class="floatingBtn"><img class="loginBtn" src="static/img/login.png" /></div></a>
        {% endif %}
</div>

{% endblock section %}
