<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/WholePage.css') }}"
    />
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/index.css') }}"
  />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/components.css') }}"
    />
    <script type="text/javascript" defer src="{{ url_for('static', filename='js/index.js') }}"></script>
  </head>
  <body>
    <div class="body_box">
     <div class="logo_container" style="margin-bottom: 20px; margin-top: 20px;">
        <a href="/"
          ><img class="logo1" src="static/img/logo.png" alt="logofailed"
        /></a>
      </div>
      <div class="nav_bar">
        <ul class="nav_bar_left">
          {% if session['UserId'] %}
          <li><a style="cursor: pointer;" href="/registerpage">맛집 등록</a></li>
          {% else %}
          <li><a style="cursor: pointer;" onclick=fail_mypage()>맛집 등록</a></li>
          {% endif %}
          
          {% if session['UserId'] %}
          <li><a class="mypage_btn" href="/mypage">마이페이지</a></li>
          {% else %}
          <li><a class="mypage_btn" style="cursor: pointer;" onclick=fail_mypage()>마이페이지</a></li>
          {% endif %}
        </ul>
        <ul class="nav_bar_right">
          <li><a href="/ganadapage">가나다순</a></li>
          <li class="dropdowns">
            <a href="/typespage">위치/종류별</a><button id="down_btn" class="down_btn" onclick=show_drop()>▼</button></li>
          
          </ul>
          <div id="dropdown" class="nav_bar_dropdown">
            <div class="dropdownLabel">위치별</div>
            <ul class="dropdown_location">
              <li class="dropdown_location1">
                <a href="{{url_for('list_restaurants',page=i,category='locate-inschool')}}">교내</a>
              </li>
              <li class="dropdown_location1">
                <a href="{{url_for('list_restaurants',page=i,category='locate-frontdoor')}}">정문</a>
              </li>
              <li class="dropdown_location1">
                <a href="{{url_for('list_restaurants',page=i,category='locate-backdoor')}}">후문</a>
              </li>
            </ul>
            <div class="dropdownLabel">종류별</div>
            <ul class="dropdown_bytype">
              <li class="dropdown_bytype1">
                <a href="{{url_for('list_restaurants',page=i,category='korean')}}">한식</a>
              </li>
              <li class="dropdown_bytype1">
                <a href="{{url_for('list_restaurants',page=i,category='western')}}">양식</a>
              </li>
              <li class="dropdown_bytype1">
                <a href="{{url_for('list_restaurants',page=i,category='chinese')}}">중식</a>
              </li>
              <li class="dropdown_bytype1">
                <a href="{{url_for('list_restaurants',page=i,category='japanese')}}">일식</a>
              </li>
              <li class="dropdown_bytype1">
                <a href="{{url_for('list_restaurants',page=i,category='asian')}}">아시안</a>
              </li>
              <li class="dropdown_bytype1">
                <a href="{{url_for('list_restaurants',page=i,category='desert')}}">디저트/카페</a>
              </li>
            </ul>
          </div>
      </div>
            
          
       
      

      <div class="middleheader">
        <div class="recommendation">
            <p class="recommend">랜덤 가게 추천</p>
            <p class="recommendd" style="font-size:13px ;">*3초 뒤 초기화됩니다*</p>
            <div class="rec">
              <div class="background">
                <a id="recommend" class="recommendbox" style="visibility: hidden" href="/specificscreen/{{data[num].name}}/">{{data[num].name}}</a>
              </div>
              <button class="push_btn" onclick="click_btn()">CLICK</button>
            </div>  
        </div>
        
         <div class="logout_container">
            {% if session['UserId'] %}
            <div class="welcome_User">
            <div class="username">{{session['UserId']}}</div>님 반갑습니다</div>
            <div class="logout" styles="visibility:hidden"><a class="login_btn" href="/logout">로그아웃</a></div>
            {% else %}
            <div class="logout" styles="visibility:hidden"><a class="login_btn" href="/login">로그인</a></div>
            {% endif %}
        </div>
      </div>
      
      <div class="contentbody">
        <div class="maincontent">
          <div class="labelandshop">  
           
           
              <div class="shop"><font size="6px"><b>Best 1</b></font>
              <div class="restaurantBox" style="border-color:white;">
                <a class="restaurantA" href="/specificscreen/{{data[0].name}}/">
                  <img src="{{data[0].img_path}}" class="restaurantpic" alt="fail" style="border-radius:24px;"/>
                </a>
              </div>
              
              <div class="shop_star">
                <div class="star">★ <span style="color:black; font-size: 25px;">{{data[0].rate}}</span></div>
              </div>
            
              <div class="shop_name">
                <a href="/specificscreen/{{data[0].name}}/">{{data[0].name}}</a>
              </div>
              <div class="shop_like">
                {% if session['UserId'] %}
                <img id="shop_like0" class="like" value="0" src="/static/img/unlike.png" alt="찜하기" onclick="click_shoplike0()">
                {% else %}
                <img id="shop_like0" class="like" value="0" style="cursor: pointer;" src="/static/img/unlike.png" alt="찜하기" onclick="fail_shop_like()">
                {% endif %}
              </div>
              </div>
              <div class="shop"><font size="6px"><b>Best 2</b></font>
                <div class="restaurantBox" style="border-color:white;">
                  <a class="restaurantA" href="/specificscreen/{{data[1].name}}/">
                    <img src="{{data[1].img_path}}" class="restaurantpic" alt="fail" style="border-radius:24px;"/>
                  </a>
                </div>
                
                <div class="shop_star">
                  <div class="star">★ <span style="color:black; font-size: 25px;">{{data[1].rate}}</span></div>
                </div>
              
                <div class="shop_name">
                  <a href="/specificscreen/{{data[1].name}}/">{{data[1].name}}</a>
                </div>
                <div class="shop_like">
                  {% if session['UserId'] %}
                  <img id="shop_like1" class="like" value="0" src="/static/img/unlike.png" alt="찜하기" onclick="click_shoplike1()">
                  {% else %}
                  <img id="shop_like1" class="like" value="0" style="cursor: pointer;" src="/static/img/unlike.png" alt="찜하기" onclick="fail_shop_like()">
                  {% endif %}
                </div>
                </div>
                <div class="shop"><font size="6px"><b>Best 3</b></font>
                  <div class="restaurantBox" style="border-color:white;">
                    <a class="restaurantA" href="/specificscreen/{{data[2].name}}/">
                      <img src="{{data[2].img_path}}" class="restaurantpic" alt="fail" style="border-radius:24px;"/>
                    </a>
                  </div>
                  
                  <div class="shop_star">
                    <div class="star">★ <span style="color:black; font-size: 25px;">{{data[2].rate}}</span></div>
                  </div>
                
                  <div class="shop_name">
                    <a href="/specificscreen/{{data[2].name}}/">{{data[2].name}}</a>
                  </div>
                  <div class="shop_like">
                    {% if session['UserId'] %}
                    <img id="shop_like2" class="like" value="0" src="/static/img/unlike.png" alt="찜하기" onclick="click_shoplike2()">
                    {% else %}
                    <img id="shop_like2" class="like" value="0" style="cursor: pointer;" src="/static/img/unlike.png" alt="찜하기" onclick="fail_shop_like()">
                    {% endif %}
                  </div>
                  </div>
           
          
          </div>
        </div>
       
      </div>
    <footer style="width:1350px; margin:50px auto;">
      <span style="color:white;">Copyright 2022. EatWha. All Rights Reserved.</span>
    </footer>
    </div>
  </body>
</html>
