<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/WholePage.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/components.css') }}"
    />
  </head>
  <body>
    <div class="body_box">
     <div class="logo_container" style="margin-bottom: 20px; margin-top: 20px;">
        <a href="/"
          ><img class="logo1" src="static/img/logo.png" alt="logofailed"
        /></a>
      </div>
      <div class="nav_bar">
        <ul class="nav_bar_left">
          <li><a href="/registerpage">맛집 등록</a></li>
          <li><a href="/writereview">리뷰작성</a></li>
        </ul>
        <ul class="nav_bar_right">
          <li><a href="/ganadapage">가나다순</a></li>
          <li class="dropdown">
            <a href="/typespage">위치/종류별</a>
            <div class="nav_bar_dropdown">
              <ul class="dropdown_location">
                <div class="dropdownLabel">위치별</div>
                <li class="dropdown_location1">
                  <a href="/locationtype">교내</a>
                </li>
                <li class="dropdown_location1">
                  <a href="/locationtype">정문</a>
                </li>
                <li class="dropdown_location1">
                  <a href="/locationtype">후문</a>
                </li>
              </ul>
              <ul class="dropdown_bytype">
                <div class="dropdownLabel">종류별</div>
                <li class="dropdown_bytype1">
                  <a href="/bytypepage">한식</a>
                </li>
                <li class="dropdown_bytype1">
                  <a href="/bytypepage">양식</a>
                </li>
                <li class="dropdown_bytype1">
                  <a href="/bytypepage">중식</a>
                </li>
                <li class="dropdown_bytype1">
                  <a href="/bytypepage">일식</a>
                </li>
                <li class="dropdown_bytype1">
                  <a href="/bytypepage">분식</a>
                </li>
                <li class="dropdown_bytype1">
                  <a href="/bytypepage">비건/기타</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>

      <div class="middleheader">
        <div class="toggle-btn">
          <input type="checkbox" id="toggle" hidden />
          <label for="toggle" class="togglelabel">
            <span class="toggle-label">영업중</span>
          </label>
          <label for="toggle" class="toggleSwitch">
            <span class="toggleButton"></span>
          </label>
        </div>
        <div class="logout_container">
          <div class="logout" styles="visibility:hidden">로그아웃</div>
        </div>
      </div>
      
      <div class="contentbody">
        <div class="maincontent">
          <div class="labelandshop">
              
            {% for data in datas %}
            <div class="bestLabel"></div>
              <div class="shop"><font size="6px"><b>Best{{loop.index}}</b></font>
              <div class="restaurantBox">
                <a class="restaurantA" href="/specificscreen/{{data[1].name}}/"
                  ><img
                    src="/static/upload/{{data[1].img_path}}"
                    class="restaurantpic"
                    alt="fail"
                /></a>
              </div>
                
            
              <div class="shop_star">
                <div class="star">★</div>
                4.75
              </div>
            
              <div class="shop_name">
                <a href="/specificscreen/{{data[1].name}}/">{{data[1].name}}</a>
              </div>
              <div class="shop_like">
                <img class="like" src="static/img/like.png" />
              </div>
            </div>
              {% endfor %}
          </div>
            
            
          </div>
        </div>
        
        <div class="sidecontent" style="top:-515px;">
          <div class="recommend">
            <p class="recommend">오늘의 추천 가게</p>
            <a href="/specificscreen/{{datas[1][1].name}}/"
              ><div class="recommendbox">{{datas[1][1].name}}</div></a
            >
          </div>
          <div class="likelist">
            <p class="recommend"><a class="likelistlink" href="/mypage">찜목록</a></p>
            <div class="likebox">
              <a href="/specificscreen"
                ><div class="likeboxsample">모미지식당</div></a
              >
              <a href="#"><div class="likeboxsample">유야케도쿄</div></a>
              <a href="#"><div class="likeboxsample">돈천동</div></a>
            </div>
          </div>
        </div>
      </div>
        
      <a class="floatingA" href="/login" ><div class="floatingBtn"><img class="loginBtn" src="static/img/login.png" /></div></a>

    <footer>
      <span>Copyright 2022. EatWha. All Rights Reserved.</span>
    </footer>
      </div>
  </body>
</html>
