{% extends "AddMenu.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/WholePage.css') }}">
{% endblock css %}

{% block section %}
<div class="middleheader">
	<div class="toggle-btn">
		<input type="checkbox" id="toggle" hidden>
		<label for="toggle" class="togglelabel">
			<span class="toggle-label">영업중</span>
		</label> 
		<label for="toggle" class="toggleSwitch">
			<span class="toggleButton"></span>
		</label>
	</div>
	<div class="logout_container">
		{% if session['UserId'] %}
            <div class="logout" styles="visibility:hidden"><a class="login_btn" href="/logout">로그아웃</a></div>
            {% else %}
            <div class="logout" styles="visibility:hidden"><a class="login_btn" href="/login">로그인</a></div>
            {% endif %}
	</div>		
</div>
<div class="logo_container">
		<a href="/"><img class="logo1" src="static/img/logo.png" alt="logofailed"></a>
	</div>
<div class="section">
	<div class="sectionlabel">
		<a href="/typespage">위치별 </a> >
	</div>
	<div class="whatsection">
		정문
	</div>
</div>
<div class="locationContent">
	<div class="shop2">
		<div class="restaurantBox">
			<a class="restaurantA" href="/specificscreen"><img src="static/img/shoppic_momiji.png" class="restaurantpic" alt="fail"></a>
		</div>
		<div class="shop_star">
			<div class="star">★</div> 4.75
		</div>
		<div class="shop_name">
			<a href="/specificscreen">모미지식당</a>
		</div>
		<div class="shop_like">
			<img class="like" src="static/img/like.png">
		</div>	
	</div>
	<div class="shop2">
		<div class="restaurantBox">
			<a class="restaurantA" href="/specificscreen"><img src="static/img/shoppic_donkatsu.png" class="restaurantpic" alt="fail"></a>
		</div>
		<div class="shop_star">
			<div class="star">★</div> 4.58
		</div>
		<div class="shop_name">
			<a href="/specificscreen">유야케도쿄</a>
		</div>
		<div class="shop_like">
			<img class="like" src="static/img/like.png">
		</div>	
	</div>
	<div class="shop2">
		<div class="restaurantBox">
			<a class="restaurantA" href="/specificscreen"><img src="static/img/shoppic_jeontimai.png" class="restaurantpic" alt="fail"></a>
		</div>
		<div class="shop_star">
			<div class="star">★</div> 4.41
		</div>
		<div class="shop_name">
			<a href="/specificscreen">전티마이</a>
		</div>
		<div class="shop_like">
			<img class="like" src="static/img/like.png">
		</div>	
	</div>
</div>
{% if session['UserId'] %}
        <a class="floatingA" href="/mypage" ><div class="floatingBtn"><img class="loginBtn" src="static/img/like.png" /></div></a>
        {% else %}
        <a class="floatingA" href="/login" ><div class="floatingBtn"><img class="loginBtn" src="static/img/login.png" /></div></a>
        {% endif %}
</div>

{% endblock section %}
