{% extends "AddMenu.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/Locationlist.css') }}">
{% endblock css %}

{% block section %}
<h1 style="text-align: center;">정문에 위치한 식당 리스트</h1>
{% if total >0%}
<p> 맛집 리스트 -- 현재까지 전체 {{total}}개 등록됨</p>
{% for data in datas%}
{% if data[1]['location']=="locate-frontdoor" %}
<div>
    <p>
        맛집 이름 : {{data[1].name}}
    </p>
    <a href="/specificscreen/{{data[1].name}}/"><img src="{{data[1].img_path}}"></a>
</div>
{% endif %}
{% endfor %}

<div class="page-wrap">
    <div class="page-nation">
        <ul>
            <li>
                {% for i in range(page_count)%}
                    <a href="{{url_for('flist_restaurants',page=i)}}" color="black">{{i}}</a>
                    {% endfor %}
            </li>
        </ul>
    </div>
</div>

{% else %}
<p>등록된 맛집이 없습니다.</p>
{% endif %}
{% endblock section %}
