<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="css/WholePage.css">
		<link rel="stylesheet" href="css/components.css">
	</head>
	<body>
		<div class="nav_bar">
		  <ul class="nav_bar_left">
			<li><a href="register.html">맛집등록</a></li>
			<li><a href="WriteReview.html">리뷰작성</a></li>
		  </ul>
		  <ul class="nav_bar_right">
			<li><a href="GanadaPage.html">가나다순</a></li>
			<li><a href="TypesPage.html">위치별</a></li>
			<li><a href="TypesPage.html">종류별</a></li>
		  </ul>
    		</div>
		
		<div class="middleheader">
			<div class="toggle-btn">
				<input type="checkbox" id="toggle" hidden>
				<label for="toggle" class="togglelabel">
					<span class="toggle-label">영업중</span>
				</label> 
				<label for="toggle" class="toggleSwitch">
					<span class="toggleButton"></span>
				</label>
			</div>
			<div class="logout_container">
				<div class="logout" styles="visibility:hidden">
					로그아웃
				</div>
			</div>		
		</div>
		<div class="logo_container">
				<a href="WholePage.html"><img class="logo1" src="https://i.imgur.com/oRaGn6E.png" alt="logofailed"></a>
			</div>
		<div class="section">
			<div class="sectionlabel">
				<a href="TypesPage.html">위치별 </a> >
			</div>
			<div class="whatsection">
				정문
			</div>
		</div>
		<div class="locationContent">
			<div class="shop2">
				<div class="restaurantBox">
					<a class="restaurantA" href="SpecificScreen.html"><img src="https://imgur.com/do7tNTS.png" class="restaurantpic" alt="fail"></a>
				</div>
				<div class="shop_star">
					<div class="star">★</div> 4.75
				</div>
				<div class="shop_name">
					<a href="SpecificScreen.html">모미지식당</a>
				</div>
				<div class="shop_like">
					<img class="like" src="https://i.imgur.com/hSoK3yb.png">
				</div>	
			</div>
			<div class="shop2">
				<div class="restaurantBox">
					<a class="restaurantA" href="SpecificScreen.html"><img src="https://imgur.com/pwyOu7z.png" class="restaurantpic" alt="fail"></a>
				</div>
				<div class="shop_star">
					<div class="star">★</div> 4.58
				</div>
				<div class="shop_name">
					<a href="SpecificScreen.html">유야케도쿄</a>
				</div>
				<div class="shop_like">
					<img class="like" src="https://i.imgur.com/hSoK3yb.png">
				</div>	
			</div>
			<div class="shop2">
				<div class="restaurantBox">
					<a class="restaurantA" href="SpecificScreen.html"><img src="https://imgur.com/w3CV0IE.png" class="restaurantpic" alt="fail"></a>
				</div>
				<div class="shop_star">
					<div class="star">★</div> 4.41
				</div>
				<div class="shop_name">
					<a href="SpecificScreen.html">전티마이</a>
				</div>
				<div class="shop_like">
					<img class="like" src="https://i.imgur.com/hSoK3yb.png">
				</div>	
			</div>
		</div>
		<a class="floatingA" href="WholePage.html"><div class="floatingBtn"><img class="likeBtn" src="https://i.imgur.com/hSoK3yb.png"></div></a>
	</body>
</html>
