<!DOCTYPE html>
<html>
  <body>
    <div class="body_box" style="margin-bottom: 70px">
      <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/components.css') }}"
      />
      <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/Login.css') }}"
      />
      <div class="logo_container">
        <img
          class="logo2"
          style="margin-top: 50px"
          onclick="location.href='/'"
          src="static/img/logo.png"
          alt="EatWha"
        />
      </div>

      <div class="Login">
        <h2 style="color: #00462a; font-size: 50px">Login</h2>

        <div style="display: inline; position: relative; left: -50px">
          <form method="post" action="/submit_login">
            <div class="showing">
              ID
              <input
                type="text"
                name="id"
                placeholder="ID"
                id="id"
                class="account"
              />
            </div>
            <div class="showing" style="margin-top: 13px">
              PW
              <input
                type="password"
                name="password"
                placeholder="Password"
                id="password"
                style="height: 20px"
                class="account"
              />
            </div>

            <button id="login" class="login_button">login</button>
          </form>
        </div>
      </div>
      <a
        href="/signup"
        style="color: grey; top: 8px; position: relative; left: 780px"
        >Sign up</a
      >
      <p id="alert" class="account"></p>
      
  <footer>
    <span>Copyright 2022. EatWha. All Rights Reserved.</span>
  </footer>
    </div>
  </body>

</html>
