{% extends "AddMenu.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/MyPage.css') }}">
{% endblock css %}


{% block section %}
    <div class="MyPageHeader">
            <div class="welcome_User">
                <div class="user_id">{{session['UserId']}}</div>님 안녕하세요
            </div>
            <div class="logout_container">
                {% if session['UserId'] %}
            <div class="logout" styles="visibility:hidden"><a class="login_btn" href="/logout">로그아웃</a></div>
            {% else %}
            <div class="logout" styles="visibility:hidden"><a class="login_btn" href="/login">로그인</a></div>
            {% endif %}
            </div>
        </div>
        <div class="MyPageContent">   
            <div class="LikeList">
                <div class="LikeList_LB">
                    찜목록
                </div>
                <div class="LikeList_Bs">
                    <div class="LikeList_B">
                        <div class="LikeList_Box">
                            <a class="restaurantA" href="/specificscreen"><img src="static\img\shoppic_momiji.png" class="restaurantpic" alt="fail"></a>
                        </div>
                        <div class="LikeList_star">
                            <div class="star">★</div><div class="score">4.75</div> 
                        </div>
                        <div class="LikeList_name">
                            <a href="/specificscreen">모미지식당</a>
                        </div>
                        <div class="LikeList_like">
                            <img class="like" src="static/img/like.png">
                        </div>	
                    </div>
                    <div class="LikeList_B">
                        <div class="LikeList_Box">
                            <a class="restaurantA" href="/specificscreen"><img src="static\img\shoppic_momiji.png" class="restaurantpic" alt="fail"></a>
                        </div>
                        <div class="LikeList_star">
                            <div class="star">★</div> 4.75
                        </div>
                        <div class="LikeList_name">
                            <a href="/specificscreen">모미지식당</a>
                        </div>
                        <div class="LikeList_like">
                            <img class="like" src="static/img/like.png">
                        </div>	
                    </div>
                    <div class="LikeList_B">
                        <div class="LikeList_Box">
                            <a class="restaurantA" href="/specificscreen"><img src="static\img\shoppic_momiji.png" class="restaurantpic" alt="fail"></a>
                        </div>
                        <div class="LikeList_star">
                            <div class="star">★</div> 4.75
                        </div>
                        <div class="LikeList_name">
                            <a href="/specificscreen">모미지식당</a>
                        </div>
                        <div class="LikeList_like">
                            <img class="like" src="static/img/like.png">
                        </div>	
                    </div>
                    <div class="LikeList_B">
                        <div class="LikeList_Box">
                            <a class="restaurantA" href="/specificscreen"><img src="static\img\shoppic_momiji.png" class="restaurantpic" alt="fail"></a>
                        </div>
                        <div class="LikeList_star">
                            <div class="star">★</div> 4.75
                        </div>
                        <div class="LikeList_name">
                            <a href="/specificscreen">모미지식당</a>
                        </div>
                        <div class="LikeList_like">
                            <img class="like" src="static/img/like.png">
                        </div>	
                    </div>
                    <div class="LikeList_B">
                        <div class="LikeList_Box">
                            <a class="restaurantA" href="/specificscreen"><img src="static\img\shoppic_momiji.png" class="restaurantpic" alt="fail"></a>
                        </div>
                        <div class="LikeList_star">
                            <div class="star">★</div> 4.75
                        </div>
                        <div class="LikeList_name">
                            <a href="/specificscreen">모미지식당</a>
                        </div>
                        <div class="LikeList_like">
                            <img class="like" src="static/img/like.png">
                        </div>	
                    </div>
                </div>
                
            </div>

            <div id="myreviewdiv">
                <form action="/myreview"  method="post">
                    <input type="text" id="reviewformUsername" name="reviewformUsername" value={{session['UserId']}} hidden />
                    <input type="submit" class="haeun_ewhagreen button" value="내가 쓴 리뷰 보기" />
                </form>
            </div>
            
            <!-- <div class="ReviewList">
                <div class="ReviewList_LB">
                    내가 쓴 리뷰
                </div>
                <div class="reviews">
                    <div class="img_and_review">
                        <img class="img_box" src='https://ifh.cc/g/jSNpPt.jpg' border='0'>
                        <div class="review_box">혼밥석 있어서 좋았어요<br> 
                가지덮밥이 마감이라 육회덮밥 먹었는데 맛있었어요!<br> 직원분도 너무 친절하셔서 좋아요</div>
                        <button class="delete_btn">삭제</button>
                    </div>
                    <div  class="img_and_review"> 
                        <img class="img_box" src='https://ifh.cc/g/PlsOTX.jpg' border='0'>
                        <div class="review_box">모미지의 대표 메뉴 가지 덮밥을 먹어봤어요!!<br>가지를 싫어하는 사람도 맛있게 먹을 수 있고<br>소스와 밥이 매우 잘 어울렸어요</div>
                        <button class="delete_btn">삭제</button>
                    </div>
                </div>
            </div> -->
            <!-- <div class="page">
                <ul class="pagination">
                    <li><a href="#" class="first">처음</a></li>
                    <li><a href="#" class="arrow left"><<</a></li>
                    <li><a href="#" class="active num">1</a></li>
                    <li><a href="#" class="num">2</a></li>
                    <li><a href="#" class="num">3</a></li>
                    <li><a href="#" class="arrow right">>></a></li>
                    <li><a href="#" class="last">마지막</a></li>
                </ul>
            </div> -->
            <div class="end">
                <div class="end_btn">탈퇴하기</div>
            </div>
        </div>

{% endblock section %}
