{% extends "AddMenu.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/MyPage.css') }}">
{% endblock css %}


{% block section %}
    <div class="MyPageHeader">
            <div class="welcome_User">
                <div class="username">{{session['UserId']}}</div>님 안녕하세요
            </div>
            <div class="logout_container">
                {% if session['UserId'] %}
            <div class="logout" styles="visibility:hidden"><a class="login_btn" href="/logout">로그아웃</a></div>
            {% else %}
            <div class="logout" styles="visibility:hidden"><a class="login_btn" href="/login">로그인</a></div>
            {% endif %}
            </div>
        </div>
        <div class="MyPageContent">   
                <h2>찜한 식당 목록</h2>
                    <div class="LikeList">
                        
                        {% if num > 0 %}
                        
                        {% for i in index %}
                        <div class="restaurantBox">
                            <a href="/specificscreen/{{data[i]}}/"><img src="{{img_path[i]}}" class="restaurantpic" alt="fail" /></a>
                        
                            <div class="star">★ <span style="color:black; font-size: 25px;">{{avg_rate[i]}}</span></div>

                            <div class="shop_name" style=" cursor: pointer;" OnClick="location.href='/specificscreen/{{data[i]}}/'">{{data[i]}}</div>
                        </div>
                        {% endfor %}
                        
                        {% else %}
                        <p style="font-size:20px;">찜한 식당이 없습니다.</p>
                        {% endif %}
                        
                    </div>
                    
                    
                
        <br><br>

            <div id="myreviewdiv">
                <form action="/myreview/"  method="post">
                    <input type="text" id="reviewformUsername" name="reviewformUsername" value={{session['UserId']}} hidden />
                    <input type="submit" class="haeun_ewhagreen button" value="내가 쓴 리뷰 보기" />
                </form>
            </div>
            <form method="post" action="/delete_account">
            <div class="end">
                <div class="end_btn"><a class="delete_account_btn" href="/delete_account">탈퇴하기</a></div>
                </div>
            </form>
        </div>

        <br><br>

{% endblock section %}
