{% extends "AddMenu.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/RegisterPage.css') }}">
{% endblock css %}

{% block section %}
<script src="{{ url_for('static', filename='js/RegisterPage.js') }}">
</script> 
<form action="/submit_register" method="post" enctype="multipart/form-data">
	<br><br>
	<div class="container">
	<div class="picture" >
		<div class="fakeimg" height="10px" width="5px">image
		<input type="file" id="register_img" name="register_img"></div>
		<div class="fakeimg" height="10px" width="5px">image
		<input type="file" id="register_img" name="register_img"></div>
		<div class="fakeimg" height="10px" width="5px">image
		<input type="file" id="register_img" name="register_img"></div>
		</div>
	
		<div class="button">
			<label for="file"></label>
		</div><br>
		<input type="file" id="file" name="file">
		<br><br>

	  
		<div class="label" label for="name">가게명</label></div>
			<input type="text" id="name" name="name" value="모미지식당" ><br>
		<div class="label" label for="category">카테고리</label></div>
			<select id="select-type" name="type" style="width: 200px;">
				<option value="korean">한식</option>
				<option value="chinese">중식</option>
				<option value="japanese">일식</option>
				<option value="western">양식</option>
				<option value="schoolfood">분식</option>
				<option value="vegan">비건/기타</option>
				<option value="desert">디저트/카페</option>
		</select>
		<select id="select-location" name="location" style="width:200px;">
				<option value="locate-inschool">교내</option>
				<option value="locate-frontdoor">정문</option>
				<option value="locate-backdoor">후문</option>
		</select><br>
		<div class="label" label for="locatedetail">주소</label></div>
			<input type="text" name="locatedetail" id="locatedetail" value="서울 서대문구 이화여대7길 24 2층"><br>
		<div class="label" label for="phone">전화번호</label></div>
			<input type="text"  name="phone" id="phone" ><br>
		<div class="time">
			<div class="label timelabel" label for="day">영업시간</label></div>
			<div class="week">
				<!--
				<div class="title">
					<div class="rest labelT">휴무</div>
					<div class="start labelT" label for="start">시작</div>
					<div class="end labelT">마감</div>
					<div class="break labelT">브레이크 타임</div>
				</div>
				-->
				<div class="oneday">
					<input type="checkbox" name="ck" onclick='toggleTextboxmon(this)'id="plus">
					<div class="dayLB" name="day" label for="start">월요일</label></div> 
					<div class="label1" label for="start">시작</label></div>  
					<input type="text" class="textB" name="start1" id="my_text" value=" " disabled style="background-color: #EDEDED; width: 80px ;height: 40px; border: 0; text-align: center;">
					<div class="label1" label for="end">마감</label></div>  
					<input type="text" class="textB" name="end1" id="my_text1" value=" "disabled style="background-color: #EDEDED; width: 80px ;height: 40px; border: 0; text-align: center;">
					<div class="label1" label for="break" style="width: 120px;" >브레이크 타임</label></div>
					<input type="text" class="textB" id="my_text2" name="bstart1" value=" " disabled style="background-color: #EDEDED; width: 80px ;height: 40px; border: 0; text-align: center;">
					~ <input type="text"class="textB" id="my_text3" name="bend1" value=" " disabled style="background-color: #EDEDED; width: 80px ;height: 40px; border: 0; text-align: center;"><br>
				</div>
				<div class="oneday">
					<input type="checkbox" name="ck" onclick='toggleTextboxtue(this)'id="plus2">
					<div class="dayLB" name="day" label for="start">화요일</label></div> 
					<div class="label1" label for="start">시작</label></div>  
					<input type="text" class="textB" name="start2" id="my_text_tue" value=" " disabled style="background-color: #EDEDED; width: 80px ;height: 40px; border: 0; text-align: center;">
					<div class="label1" label for="end">마감</label></div>  
					<input type="text" class="textB" name="end2" id="my_text1_tue" value=" "disabled style="background-color: #EDEDED; width: 80px ;height: 40px; border: 0; text-align: center;">
					<div class="label1" label for="break" style="width: 120px;" >브레이크 타임</label></div>
					<input type="text" class="textB" id="my_text2_tue" name="bstart2" value=" " disabled style="background-color: #EDEDED; width: 80px ;height: 40px; border: 0; text-align: center;">
					~ <input type="text"class="textB" id="my_text3_tue" name="bend2" value=" " disabled style="background-color: #EDEDED; width: 80px ;height: 40px; border: 0; text-align: center;"><br>
				</div>
				<div class="oneday">
					<input type="checkbox" name="ck" onclick='toggleTextboxwed(this)'id="plus2">
					<div class="dayLB" name="day" label for="start">수요일</label></div> 
					<div class="label1" label for="start">시작</label></div>  
					<input type="text" class="textB" name="start3" id="my_text_wed" value=" " disabled style="background-color: #EDEDED; width: 80px ;height: 40px; border: 0; text-align: center;">
					<div class="label1" label for="end">마감</label></div>  
					<input type="text" class="textB" name="end3" id="my_text1_wed" value=" "disabled style="background-color: #EDEDED; width: 80px ;height: 40px; border: 0; text-align: center;">
					<div class="label1" label for="break" style="width: 120px;" >브레이크 타임</label></div>
					<input type="text" class="textB" id="my_text2_wed" name="bstart3" value=" " disabled style="background-color: #EDEDED; width: 80px ;height: 40px; border: 0; text-align: center;">
					~ <input type="text"class="textB" id="my_text3_wed" name="bend3" value=" " disabled style="background-color: #EDEDED; width: 80px ;height: 40px; border: 0; text-align: center;"><br>
				</div>
				<div class="oneday">
					<input type="checkbox" name="ck" onclick='toggleTextboxthur(this)'id="plus2">
					<div class="dayLB" name="day" label for="start">목요일</label></div> 
					<div class="label1" label for="start">시작</label></div>  
					<input type="text" class="textB" name="start4" id="my_text_thur" value=" " disabled style="background-color: #EDEDED; width: 80px ;height: 40px; border: 0; text-align: center;">
					<div class="label1" label for="end">마감</label></div>  
					<input type="text" class="textB" name="end4" id="my_text1_thur" value=" "disabled style="background-color: #EDEDED; width: 80px ;height: 40px; border: 0; text-align: center;">
					<div class="label1" label for="break" style="width: 120px;" >브레이크 타임</label></div>
					<input type="text" class="textB" id="my_text2_thur" name="bstart4" value=" " disabled style="background-color: #EDEDED; width: 80px ;height: 40px; border: 0; text-align: center;">
					~ <input type="text"class="textB" id="my_text3_thur" name="bend4" value=" " disabled style="background-color: #EDEDED; width: 80px ;height: 40px; border: 0; text-align: center;"><br>
				</div>
				<div class="oneday">
					<input type="checkbox" name="ck" onclick='toggleTextboxfri(this)'id="plus2">
					<div class="dayLB" name="day" label for="start">금요일</label></div> 
					<div class="label1" label for="start">시작</label></div>  
					<input type="text" class="textB" name="start5" id="my_text_fri" value=" " disabled style="background-color: #EDEDED; width: 80px ;height: 40px; border: 0; text-align: center;">
					<div class="label1" label for="end">마감</label></div>  
					<input type="text" class="textB" name="end5" id="my_text1_fri" value=" "disabled style="background-color: #EDEDED; width: 80px ;height: 40px; border: 0; text-align: center;">
					<div class="label1" label for="break" style="width: 120px;" >브레이크 타임</label></div>
					<input type="text" class="textB" id="my_text2_fri" name="bstart5" value=" " disabled style="background-color: #EDEDED; width: 80px ;height: 40px; border: 0; text-align: center;">
					~ <input type="text"class="textB" id="my_text3_fri" name="bend5" value=" " disabled style="background-color: #EDEDED; width: 80px ;height: 40px; border: 0; text-align: center;"><br>
				</div>
				<div class="oneday">
					<input type="checkbox" name="ck" onclick='toggleTextboxsat(this)'id="plus2">
					<div class="dayLB" name="day" label for="start">토요일</label></div> 
					<div class="label1" label for="start">시작</label></div>  
					<input type="text" class="textB" name="start6" id="my_text_sat" value=" " disabled style="background-color: #EDEDED; width: 80px ;height: 40px; border: 0; text-align: center;">
					<div class="label1" label for="end">마감</label></div>  
					<input type="text" class="textB" name="end6" id="my_text1_sat" value=" "disabled style="background-color: #EDEDED; width: 80px ;height: 40px; border: 0; text-align: center;">
					<div class="label1" label for="break" style="width: 120px;" >브레이크 타임</label></div>
					<input type="text" class="textB" id="my_text2_sat" name="bstart6" value=" " disabled style="background-color: #EDEDED; width: 80px ;height: 40px; border: 0; text-align: center;">
					~ <input type="text"class="textB" id="my_text3_sat" name="bend6" value=" " disabled style="background-color: #EDEDED; width: 80px ;height: 40px; border: 0; text-align: center;"><br>
				</div>
				<div class="oneday">
					<input type="checkbox" name="ck" onclick='toggleTextboxsun(this)'id="plus2">
					<div class="dayLB" name="day" label for="start">일요일</label></div> 
					<div class="label1" label for="start">시작</label></div>  
					<input type="text" class="textB" name="start7" id="my_text_sun" value=" " disabled style="background-color: #EDEDED; width: 80px ;height: 40px; border: 0; text-align: center;">
					<div class="label1" label for="end">마감</label></div>  
					<input type="text" class="textB" name="end7" id="my_text1_sun" value=" "disabled style="background-color: #EDEDED; width: 80px ;height: 40px; border: 0; text-align: center;">
					<div class="label1" label for="break" style="width: 120px;" >브레이크 타임</label></div>
					<input type="text" class="textB" id="my_text2_sun" name="bstart7" value=" " disabled style="background-color: #EDEDED; width: 80px ;height: 40px; border: 0; text-align: center;">
					~ <input type="text"class="textB" id="my_text3_sun" name="bend7" value=" " disabled style="background-color: #EDEDED; width: 80px ;height: 40px; border: 0; text-align: center;"><br>
				</div>
			</div>
		</div>
		
			
		<div class="label" label for="extra">기타</label></div>
			<input type="text" id="extra" name="extra" value="20:00 Last Order">
		
	<br><br>
	<div class="btnbox"><input type="submit" id="btn2" value="등록하기" ></div></div><br><br></div>
	
	</div>
	</div>
{% endblock section %}
