<!DOCTYPE html>
<html>
<head style="position:absolute; top: 80px; left:120px;">
	<link rel="stylesheet" href="css/components.css">
	<link rel="stylesheet" href="css/SignUp.css">
        <div class="logo_container">
          <img class="logo2" onclick="location.href='WholePage.html'" src="https://i.imgur.com/oRaGn6E.png" alt="EatWha">
		</div>
</head>

<body style="position:absolute; top: 190px; left:120px;">
	<div class="SignUp">
		<h2 style="color:#00462A; font-size:50px">Sign Up</h2>
		<form style="position: relative;">
			<div class="showing">ID</div>
            <input type="text" placeholder="010-0000-0000" id="id" class="account">
			<div class="showing">PW</div>
            <input type="password" placeholder="Password" id="password1" class="account">
			<div class="showing">PW 확인</div>
			<input type="password" placeholder="Check password" id="password2" class="account">
            <button id="login" class="account">Sign Up</button>
			<a href="Login.html" style="float:right">Login</a>
			<p id="alert" class="account"></p>
		</form>
        </div>
    </div>   
    <script src="SignUp.js"></script>
</body>

</html>