{% extends "AddMenu.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/SpecificScreen.css') }}">
<script type="text/javascript" defer src="{{ url_for('static', filename='js/SpecificScreen.js') }}"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=689fdc991fdc596b7b88c99c12e8efa5"></script>
<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
{% endblock css %}

{% block section %}
<div class="body_box"> 
	<h1>{{data.name}}</h1>
    
        <div class="button_box">
            <button id="menu" class="button" onclick="window.location.href='/viewmenu/{{data.name}}/';">MENU</button>
            <button id="review" class="button" onclick="window.location.href='/viewreview/{{data.name}}/';">REVIEW</button>
        </div>
	
        <div class="shop">
            <button type="button" class="shop_like"><img id="shop_like" value="0" src="/static/img/unlike.png" width=50px alt="찜하기" onclick="click_shoplike()"></button>
            <button type="button" class="share"><img id="btnKaKao" src="/static/img/icon-kakao.png" href="javascript:shareKakao()" height=50px alt="share"></button>
            <p class="shop_star">★</p>
            <p class="star_rate">{{avg_rate}}/5</p>
            <img class="photo" src="/static/upload/{{data.img_path}}">
        </div>
    
        <div class="description">
		    <div class="location" id="location" value="{{data.locatedetail}} ">{{data.locatedetail}} 
			    <button id="location_copy" style="border:none; background-color:transparent; font-size: 23px;" onclick="clipboardShare()">📄</button><br>
            </div>
        
		    <div class="tel">📞 {{data.phone}} <br><br> </div>
        
            <div class="time">🕑영업시간🕑<br><br>
                {% if (data.monday[0] !="" and data.monday[0] !=" ") %}
                월) {{data.monday[0]}}~{{data.monday[1]}} 브레이크타임: {{data.monday[2]}}~{{data.monday[3]}}
                <br>{% endif %}
                {% if (data.tuesday[0] !="" and data.tuesday[0] !=" ") %}
                화) {{data.tuesday[0]}}~{{data.tuesday[1]}} 브레이크타임: {{data.tuesday[2]}}~{{data.tuesday[3]}}
                <br>{% endif %}
                {% if (data.wednesday[0] !="" and data.wednesday[0] !=" ") %}
                수) {{data.wednesday[0]}}~{{data.wednesday[1]}} 브레이크타임: {{data.wednesday[2]}}~{{data.wednesday[3]}}
                <br>{% endif %}
                 {% if (data.thursday[0] !="" and data.thursday[0] !=" ") %}
                목) {{data.thursday[0]}}~{{data.thursday[1]}} 브레이크타임: {{data.thursday[2]}}~{{data.thursday[3]}}
                <br>{% endif %}
                {% if (data.friday[0] !="" and data.friday[0] !=" ") %}
                금) {{data.friday[0]}}~{{data.friday[1]}} 브레이크타임: {{data.friday[2]}}~{{data.friday[3]}}
                <br>{% endif %}
                {% if (data.saturday[0] !="" and data.saturday[0] !=" ") %}
                토) {{data.saturday[0]}}~{{data.saturday[1]}} 브레이크타임: {{data.saturday[2]}}~{{data.saturday[3]}}
                <br>{% endif %}
                {% if (data.sunday[0] !="" and data.sunday[0] !=" ") %}
                일) {{data.sunday[0]}}~{{data.sunday[1]}} 브레이크타임: {{data.sunday[2]}}~{{data.sunday[3]}}
                <br>{% endif%}
                 <br>
            </div>
        
	        <div class="introduction">{{data.extra}}</div>
        
        </div>
    
    <div id="map"></div>
    
</div>

{% endblock section %}
