<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="newwholepage.css">
	</head>
	<body>
		<header>
				<div class="header-box">
					<div class="left-nav">
						<ul class="left-menu">
							<li>
								<a href="#">맛집등록</a>
							</li>
							<li>
								<a href="#">리뷰작성</a>
							</li>
						</ul>
					</div>
					<div class="right-nav">
						<ul class="right-menu">
							<li>
								<a href="Ganadapage.html">가나다순</a>
							</li>
							<li>
								<a href="#">위치별/종류별</a>
								<div class="sub-menu-box" style="display:none;">
									<p class="sub-menu-title">
										위치별/종류별
									</p>
									<ul class="sub-menu">
										<li><a href="#">위치별</a></li>
										<ul class="sub-menu01">
											<li><a href="#">정문</a></li>
											<li><a href="#">후문</a></li>
											<li><a href="#">교내</a></li>
										</ul>
										<li><a href="#">종류별</a></li>
										<ul class="sub-menu01">
											<li><a href="#">한식</a></li>
											<li><a href="#">양식</a></li>
											<li><a href="#">중식</a></li>
											<li><a href="#">일식</a></li>
											<li><a href="#">분식</a></li>
											<li><a href="#">디저트</a></li>
											<li><a href="#">비건/기타</a></li>
										</ul>
									</ul>
								</div>
							</li>
						</ul>
					</div>
				</div>
		</header>
		<div class="middleheader">
			<div class="toggle-btn">
				<input type="checkbox" id="toggle" hidden>
				<label for="toggle" class="togglelabel">
					<span class="toggle-label">영업중</span>
				</label> 
				<label for="toggle" class="toggleSwitch">
					<span class="toggleButton"></span>
				</label>
				
			</div>
			<div class="logo-img">
				<a href="newwwholepage.html"><img class="logo" src="logocrop.png" alt="logofailed"></a>
			</div>
			
			<div class="logout-btn">
				<div class="logout">
					로그아웃
				</div>
			</div>
		</div>
		<div class="location">
			<div class="locationLabel">위치별</div>
			<div class="locationBoxes">
				<div class="locationBox">
					<a href="locationpageschool.html"><img src="#">교내</a>
				</div>
				<div class="locationBox">
					<a href="#"><img src="#">정문</a>
				</div>
				<div class="locationBox">
					<a href="#"><img src="#">후문</a>
				</div>	
			</div>
			
		</div>
		<div class="kinds">
			<div class="kindsLabel">종류별</div>
				<a href="type1page.html"><div class="kindsBox1">한식</div></a>
				<a href="type1page.html"><div class="kindsBox2">양식</div></a>
				<a href="type1page.html"><div class="kindsBox3">중식</div></a>
				<a href="type1page.html"><div class="kindsBox4">일식</div></a>
				<a href="type1page.html"><div class="kindsBox5">분식</div></a>
				<a href="type1page.html"><div class="kindsBox6">비건/기타</div></a>
		</div>
	</body>
</html>
