{% extends "AddMenu.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/WholePage.css') }}">
{% endblock css %}

{% block section %}
		
<div class="middleheader">
	<div class="toggle-btn">
		
	</div>
	<div class="logout_container">
		<div class="logout" styles="visibility:hidden">
			로그아웃
		</div>
	</div>		
</div>
<a href="/restaurant_list"><div class="locationLabel">전체리스트</div></a>
<div class="location">
	<div class="locationLabel">위치별</div>
	<div class="locationBoxes">
		<div class="locationBox">
			<a href="/locationlist_in"><img src="static/img/typespage_1.png"></a>
		</div>
		<div class="locationBox">
			<a href="/locationlist_front"><img src="static/img/typespage_2.png"></a>
		</div>
		<div class="locationBox">
			<a href="/locationlist_back"><img src="static/img/typespage_3.png"></a>
		</div>	
	</div>
	
</div>
<div class="kinds">
	<div class="kindsLabel">종류별</div>
	<div class="kindboxes">
		<div class="kindsBox"><a href="/typelist_korean">한식</a></div>
		<div class="kindsBox"><a href="/typelist_western">양식</a></div>
		<div class="kindsBox"><a href="/typelist_chinese">중식</a></div>
		<div class="kindsBox"><a href="/typelist_japanese">일식</a></div>
		<div class="kindsBox"><a href="/typelist_asian">아시안</a></div>
		<div class="kindsBox"><a href="/typelist_desert">디저트/카페</a></div>
	</div>
</div>
<a class="floatingA" href="/mypage"><div class="floatingBtn"><img class="likeBtn" src="static/img/like.png"></div></a


{% endblock section %}
