{% extends "AddMenu.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/ViewReview.css') }}">
{% endblock css %}

{% block section %}
<div class="body_box" style="margin-top:30px;">
  <h1 style="margin-left:30px; display:inline;">{{name}}</h1>
  <p style="color:gold; font-size:35px; display:inline; margin-left:10px;">★★★★<span style="color:gray;">★</span> <span style="color:black; font-size:20px;">4.21/5</span></p>
  <button class="review_button1" onClick="window.location.href='/specificscreen/{{name}}/';">상세</button> </p>

  <div class="review_div">
    <p style="font-size:25px; margin-left:30px; margin-right:15px; margin-top:0px; display:inline;">리뷰 88
    <button class="review_button2" onclick="window.location.href='/writereview/{{name}}/';">작성하기</button> </p>
    <br><br>
    <div class="img_and_review">
        {% if num == 0 %} <!--리뷰가 0개인 경우-->
        <div class="reviewobj">
            <div id="noReviewMessage"><span>리뷰가 등록되지 않은 식당입니다</span></div>
        </div>
        
        {% else %}  <!--리뷰가 0개가 아닌 경우-->
        
            {% for review in data %}
            <img class="img_box" src='{{review.img_path}}' border='0'>
            <div class="review_box"><br><br>{{review.review}}</div>
            {% endfor %}
        
        {% endif %}
    </div>
  </div>
  

  <div class="eval_div">
    <div class="eval">맛
    <progress class="eval_progress"value="4.9" max="5"></progress>
    <p class="progress_score">4.9/5.0</p>
    </div>
    

    <div class="eval">청결
    <progress class="eval_progress"value="3.7" max="5"></progress>
      <p class="progress_score">3.7/5.0</p>
    </div>
    
    <div class="eval">음식량
    <progress class="eval_progress"value="4.0" max="5"></progress>
      <p class="progress_score">4.0/5.0</p>
    </div>
    
    <div class="eval">서비스
    <progress class="eval_progress" value="4.3" max="5"></progress>
      <p class="progress_score">4.3/5.0</p>
    </div>
    
    <div class="eval">가격
    <progress class="eval_progress"value="3.5" max="5"></progress>
      <p class="progress_score">3.5/5.0</p>
    </div>
    
    <div class="eval">분위기
    <progress class="eval_progress"value="4.2" max="5"></progress>
      <p class="progress_score">4.2/5.0</p>
    </div>
    
    

</div>


  </div>

{% endblock section %}

