{% extends "AddMenu.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/ViewMenu.css') }}" />
{% endblock css %}

{% block section %}
<div class="haeun_container">
  <h1>모미지식당 메뉴</h1>
</div>

<div id="menulist">
  <div class="menuobj firstobj">
    <div class="menuobj_left">
      <img src="static/img/viewmenu_1.png" />
    </div>
    <div class="menuobj_right">
      <div class="menuobj_right_top">
        <span class="menuname">육회 덮밥</span>
        <span class="menuprice">11000원</span>
      </div>
      <div class="menuobj_right_bottom">
        <span class="menudesc">
          양념된 밥 위에 육회가 한가득!<br />밥과 육회를 전체적으로 비빈 후
          취향에 따라 생와사비를 살짝 곁들여 드세요.<br />* 곱빼기(육회
          1.5배)도 있습니다.
        </span>
      </div>
    </div>
  </div>
  <div class="menuobj">
    <div class="menuobj_left">
      <img src="static/img/viewmenu_2.png" />
    </div>
    <div class="menuobj_right">
      <div class="menuobj_right_top">
        <span class="menuname">소고기 가지덮밥</span>
        <span class="menuprice">9500원</span>
      </div>
      <div class="menuobj_right_bottom">
        <span class="menudesc">
          가지와 다진 소고기가 올라간 덮밥!<br />가지가 들어갔는데도 호불호
          없이 모두가 좋아하는 메뉴입니다.
        </span>
      </div>
    </div>
  </div>
  <div class="menuobj">
    <div class="menuobj_left">
      <img src="static/img/viewmenu_3.png" />
    </div>
    <div class="menuobj_right">
      <div class="menuobj_right_top">
        <span class="menuname">음료수</span>
        <span class="menuprice">2500원</span>
      </div>
      <div class="menuobj_right_bottom">
        <span class="menudesc"> 콜라, 사이다 </span>
      </div>
    </div>
  </div>
</div>
{% endblock section %}


