{% extends "AddMenu.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/ViewMenu.css') }}" />
{% endblock css %}

{% block section %}
<div class="haeun_container">
  <h1>{{name}} 메뉴</h1>
</div>

<div id="menulist">

  {% if num == 0 %} <!--메뉴가 0개인 경우-->

  <div class="menuobj">
    <div id="noMenuMessage"><span>메뉴 정보가 등록되지 않은 식당입니다</span></div>
  </div>

  {% else %}  <!--메뉴가 0개가 아닌 경우-->

    {% for menu in menus %}

      {% if loop.index == 1 %}
      <!--첫 번째 메뉴는 혼자 css가 다르게 적용되어야 해서 (class가 하나 더 붙어서) if문으로 특별취급-->
      <div class="menuobj firstobj">
        <div class="menuobj_left">
          <img src="{{menu.img_path}}" />
        </div>
        <div class="menuobj_right">
          <div class="menuobj_right_top">
            <span class="menuname">{{menu.menuname}}</span>
            <span class="menuprice">{{menu.menuprice}}원</span>
          </div>
          <div class="menuobj_right_bottom">
            <span class="menudesc">
            {{menu.menudesc}}
            </span>
          </div>
        </div>
      </div>

      {% else %}

        <div class="menuobj">
          <div class="menuobj_left">
            <img src="{{menu.img_path}}" />
          </div>
          <div class="menuobj_right">
            <div class="menuobj_right_top">
              <span class="menuname">{{menu.menuname}}</span>
              <span class="menuprice">{{menu.menuprice}}원</span>
            </div>
            <div class="menuobj_right_bottom">
              <span class="menudesc">
              {{menu.menudesc}}
              </span>
            </div>
          </div>
        </div>

      {% endif %}

    {% endfor %}

  {% endif %}
  
</div>
{% endblock section %}


