<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/components.css">
    <link rel="stylesheet" href="css/ViewReview.css">
    <div class="logo_container">
      <img class="logo2" src="https://i.imgur.com/oRaGn6E.png" onClick= "location.href='WholePage.html'">
    </div>
    <hr>
  </head>
  
  <body>
    <style>
      
    </style>
    
    <h1 style="margin-left:30px; display:inline;">모미지 식당</h1>
    <p style="color:gold; font-size:35px; display:inline; margin-left:10px;">★★★★<span style="color:gray;">★</span> <span style="color:black; font-size:20px;">4.21/5</span></p>
    <button class="review_button1">상세</button> </p>

    <div class="review_div">
      <p style="font-size:25px; margin-left:30px; margin-right:15px; margin-top:0px; display:inline;">리뷰 88
      <button class="review_button2" onClick= "location.href='WriteReview.html'">작성하기</button> </p>
      <br><br>
      <div>
        <div class="img_box">사진</div>
        <div class="review_box">리뷰 내용</div>
      </div>
      <div>
        <div class="img_box">사진</div>
        <div class="review_box">리뷰 내용</div>
      </div>
    </div>
    

    <div class="eval_div">
      <div class="eval">맛
      <progress class="eval_progress"value="4.9" max="5"></progress>
      </div>
  
      <div class="eval">청결
      <progress class="eval_progress"value="3.7" max="5"></progress>
      </div>
      
      <div class="eval">음식량
      <progress class="eval_progress"value="4.0" max="5"></progress>
      </div>
      
      <div class="eval">서비스
      <progress class="eval_progress"value="4.3" max="5"></progress>
      </div>
      
      <div class="eval">가격
      <progress class="eval_progress"value="3.5" max="5"></progress>
      </div>
      
      <div class="eval">분위기
      <progress class="eval_progress"value="4.2" max="5"></progress>
      </div>
 
  </div>
  


  </body>
</html>