<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="css/components.css" />
    <link rel="stylesheet" href="css/ViewMenu.css" />
  </head>
  <body>
    <div class="logo_container">
      <img class="logo2" src="https://i.imgur.com/oRaGn6E.png" />
    </div>
    
    <div class="nav_bar">
      <ul class="nav_bar_left">
        <li><a href="RegisterPage.html">맛집 등록</a></li>
        <li><a href="WriteReview.html">리뷰작성</a></li>
      </ul>
      <ul class="nav_bar_right">
        <li><a href="GanadaPage.html">가나다순</a></li>
        <li>위치/종류별</li> <!--여기 드롭다운으로 고쳐주세요!-->
      </ul>
    </div>

    <div class="haeun_container">
      <h1>육회덮밥</h1>
    </div>

    <div class="haeun_container">
      <div id="haeun_leftblock" class="haeun_left">
        <div id="small_photoes">
          <img src="https://i.imgur.com/Lohw2Ls.png" />
          <img src="https://i.imgur.com/Lohw2Ls.png" />
          <img src="https://i.imgur.com/Lohw2Ls.png" />
        </div>
        <div id="big_photo">
          <img src="https://i.imgur.com/VaUkyA2.png" />
        </div>
      </div>
      <div id="haeun_rightblock">
        <div id="desc">
          <p>
            양념된 밥 위에 육회가 한가득!<br />밥과 육회를 전체적으로 비빈 후
            취향에 따라 생와사비를 살짝 곁들여 드세요.<br />*곱빼기(육회 1.5배)도
            있습니다.
          </p>
        </div>
        <div id="review">
          <span id="haeun_reviewhead">리뷰</span>
          <span id="haeun_reviewnum">82개</span>
          <div id="review-top">
            <div id="review-top-stars_container">
              <img id="review-top-stars" src="https://i.imgur.com/SKElxIG.png" />
            </div>
            <div id="review-top-keypoints">
              <span>이런 점이 좋았어요</span>
              <div>맛있어요</div>
              <div>가성비가 좋아요</div>
              <div>건강해요</div>
            </div>
          </div>
          <div id="review-bottom">
            <div id="review-bottom-contents">
              <div>리뷰글 1</div>
              <div>리뷰글 2</div>
              <div>리뷰글 3</div>
              <div>리뷰글 4</div>
              <div>리뷰글 5</div>
            </div>
            <div id="review-bottom-page">페이지넘기기</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
