<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/components.css">
    <link rel="stylesheet" herf="css/WriteReview.css">
    <div class="logo_container">
      <img class="logo2" src="https://i.imgur.com/oRaGn6E.png" onClick= "location.href='WholePage.html'">
    </div>
    <hr>
  </head>
  
  <body>    
    <h1 style="margin-left:30px;">모미지 식당</h1>
    <div>
      <img src="https://cdn-icons-png.flaticon.com/512/3364/3364044.png" alt="프로필 이미지" width="50px" height="50px" style="float:left; margin-left:30px; margin-right:10px;" align="middle">
      <p style="font-size:25px;"><b>user1</b></p>
      
      <div class="star_box">
        <div class="star-rating space-x-4 mx-auto">
	        <input type="radio" id="5-stars" name="rating" value="5" v-model="ratings"/>
	        <label for="5-stars" class="star pr-4">★</label>
	        <input type="radio" id="4-stars" name="rating" value="4" v-model="ratings"/>
	        <label for="4-stars" class="star">★</label>
	        <input type="radio" id="3-stars" name="rating" value="3" v-model="ratings"/>
	        <label for="3-stars" class="star">★</label>
	        <input type="radio" id="2-stars" name="rating" value="2" v-model="ratings"/>
	        <label for="2-stars" class="star">★</label>
	        <input type="radio" id="1-star" name="rating" value="1" v-model="ratings" />
	        <label for="1-star" class="star">★</label>
        </div>
        <button class="star_button1">저장</button>
      </div>
    </div>
    
    <br>
    
    <div>
      <p style="font-size:20px;"><b>&emsp;&emsp;> 세부평가</b></p>
      <button class="eval_button">맛</button>
      <button class="eval_button">청결</button>
      <button class="eval_button">음식량</button>
      <button class="eval_button">서비스</button>
      <button class="eval_button">가격</button>
      <button class="eval_button">분위기</button>
    </div>

    <div>
      <div class="img_box">사진 첨부</div>
      <div class="review_box">리뷰를 작성하세요</div>
      <button class="star_button2">저장</button>
    </div>
  </body>
</html>
