<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>

    <h1>ㅇㅇ식당 메뉴 추가하기</h1>

    <div>
        <!--form의 action 어트리뷰트의 내용은 임시로 "/"라고 해놓았음-->
        <form action="/" method="post">
            <div>
                <label for="name">메뉴명</label>
                <input type="text" id="name">
                <label for="price">가격</label>
                <input type="number" id="price">
            </div>
            <div>
                <label for="description">메뉴설명</label>
                <textarea id="description" rows="5" cols="30"></textarea> <br>
                <label for="photo">메뉴사진</label>
                <input type="file" id="photo" accept="image/*">
            </div>
            <div>
                <input type="submit" value="완료">
                <!--버튼을 눌렀을 때 이전 화면으로 돌아가도록 하였음. 메인 화면 또는 해당 가게의 세부정보으로 redirect하는 것도 괜찮을 듯?-->
                <button onclick="history.back();">취소</button>
            </div>
        </form>
    </div>

  </body>
</html>
